@media (min-width: 992px) { .ml-lg-4-5 { margin-left: 2.2rem!important; } }


.color-ccc { color: #ccc; }
.bg-contact { background-image: url('../images/contact.png'); }
.bg-15 { background: #151515; }
.bg-1 { background: #111; }
.bg-0 { background: #000; }

::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #18994f; }


@media (max-width: 768px) {  .justify-xs-content-center { justify-content: center; } }

/* ICONS */
.header-icons a { 
  color:#666; 
  font-size: 18px;
  text-decoration: none;
}
.header-icons a:hover { text-decoration: none; color:#FFF!important; }

.header-icons a div {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4);
  background: rgba(255, 255, 255, .2);
  border:2px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.header-icons a div:hover { background: #18994f; }

.home-header {
  background-image: url('../images/bg.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.bg-termine {
  background-image: url('../images/bg_funesp2.jpg'); 
  background-attachment: fixed; 
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-supletivo {
  background-image: url('../images/bg-gray.gif');
  background-repeat: no-repeat; 
  background-size: cover;
}


.bg-facebook  { background: #3b5998; }
.bg-youtube   { background: #cd201f; }
.bg-instagram { background: #262626; }

.uk-navbar-sticky { box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; background: #FFF!important; }

.scroll-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .4px;
  display: block;
  padding: .5rem .3rem;
  display: inline-block;
  color: #e3e3e3!important;
  text-transform: unset!important;
  font-size: 17px!important;
}
.nav-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .4px;
  display: block;
  padding: .5rem .3rem;
  display: inline-block;
  color: #666!important;
  text-transform: unset!important;
  font-size: 17px!important;
}

.scroll-link:hover { color:#FFF!important; text-decoration: none!important; }
a:hover { text-decoration: none!important; }

.uk-navbar-sticky a { color:#666!important; }
.uk-navbar-sticky a:hover { color:#000!important; }

.color-hover-000:hover { color:#000!important }

.myButton {
 box-shadow:inset 0px 34px 0px -15px #b54b3a;
 background-color:#c92027;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:'Raleway', sans-serif;
 font-size:18px;
 padding:14px 35px;
 text-decoration:none;
 text-shadow:0px -1px 0px #7a2a1d;
 text-transform: uppercase;
 font-weight: 800;
 margin-top: 25px;
 border-radius: 3px;
 border-bottom: 3.5px solid #0b591d;
 text-shadow: 1.5px 1.5px rgba(0, 0, 0, .20);
 letter-spacing: .2px;
}
.myButton:hover, .bg-base-hover:hover {
 background-color:#12a14f!important;
 color:#FFF!important;
}
.myButton:active {
 position:relative;
 top:1px;
}

.mt--67 { margin-top: -67px; }

@media (max-width: 768px) { .mt-xs-200 { margin-top: 200px; } }
@media (min-width: 990px) { 
.h-lg-495 { height: 495px; }
.h-lg-525 { height: 525px; }
.mt-lg-225 { margin-top: 225px; }
}

.border-solutions { border: 7px solid #f8f9fa; }

.border-hover-base:hover {
  -webkit-transition: 0.35s ease-in;
  -moz-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-color: #18994f!important;
}

.bg-cases, .bg-base {
  background: #18994f;
}

.bg-quem-somos {
  background-image: linear-gradient(45deg, #0e2e0e 25%, #18994f 100%);
}

.bg-alunos-formados {
  background-image: linear-gradient(30deg, #0e2e0e 0%, #18994f 100%);
}

.bg-f5 { background: #f5f5f5; }
.bg-comunication { background: #18994f; }
.bg-comunication:hover { background: #12a14f; }
.color-comunication { color: #FFF; }

.uk-dotnav>*>* { border-color: #e5e5e5!important }
.uk-dotnav>.uk-active>* {
  background-color: #555;
  border-color: transparent;
}

.uk-slidenav { color: #888!important; }

.color-base { color: #179c63!important; }
.color-copyright {color: #aab2bd;}
.color-icon-contact { color: #dcdfe3; }
.color-hover-copyright:hover { color: #aab2bd; }

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
font-family: 'Nunito', sans-serif;
opacity: 1; /* Firefox */
font-weight: 600;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
font-family: 'Nunito', sans-serif;
font-weight: 600;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
font-family: 'Nunito', sans-serif;
font-weight: 600;
}

@media (min-width: 990px) { .contact-methods-container { padding-right: 155px; } }


.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:20px;
  right:20px;
  background-color:#28a745;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);
  z-index:100;
}
.float:hover { color: #FFF!important; }

.my-float{
  margin-top:16px;
}


.color-light-085 {
  color: rgba(255,255,255,.85);
}