::-webkit-scrollbar-track { background-color: #141414; }
::-webkit-scrollbar { width: 8px; background: #141414; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.09); }

.color-light, .color-enunciado, .color-modulo { color: rgba(255,255,255,0.9)!important; }
.color-light-soft { color: rgba(255,255,255,0.8)!important; }
.side-color { color: rgba(255,255,255,0.8)!important; }
footer, .side-color { background: #141414!important; }
.side-color:hover { background: rgba(255,255,255,0.09)!important; }
.hamburger, .hamburger:after, .hamburger:before { background: rgba(255,255,255,0.8)!important; }
.title {
    position: relative;
    padding-bottom: 0;
    font-size: 20px;
    color: #ffffff;
    font-weight: normal;
    opacity: 0.9;
}
.color-b7 { color: #B7B7B7!important; }
.bg-14 { background: #141414!important; }
.bg-0d { background: #0d0d0d!important; }
.bg-selected-aula { background: rgba(255,255,255,0.09)!important; }
.bg-form-suporte { background: #444!important; }
.bg-modulo { background: rgba(255,255,255, .1)!important; }
.color-icon-sidebar { color: #ccc!important; }

.btnMarcarComoConcluido {
    position: relative;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    font-family: 'Nunito Sans', Montserrat, Poppins, Lato, Helvetica;
    color: rgba(255,255,255, .75);
    font-weight: 600;
}

.btnMarcarComoConcluido:hover { background: #FFF; color: #111; }
.hover-white-to-dark:hover { color:#FFF!important; }

.aula-concluida { background: #229754!important; border-color: #229754; color: #FFF!important; }

.color-drop, .color-form-suporte { color: #FFF!important; }
.color-placeholder-light, .color-placeholder-light-light::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7)!important;
    opacity: .73;
}
.color-placeholder-light::-moz-placeholder {
    color: rgba(255,255,255,0.7)!important;
    opacity: .73;
}
.color-placeholder-light::-ms-input-placeholder {
    color: rgba(255,255,255,0.7)!important;
    opacity: .73;
}


.btn-suporte-enviar {
    border: 2px solid rgba(255,255,255,0.4);
    height: 40px;
    padding: 0 20px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 12px;
    transition: all .3s;
}

.btn-suporte-enviar:hover, .btn-active { background: rgba(255,255,255,0.9); color: #000!important; text-decoration: none; }


@media (min-width: 990px) {
.mensagemCondicaoAvaliacao {
    margin-left: -10.5rem!important;
}}