::-webkit-scrollbar-track { background-color: #141414; }
::-webkit-scrollbar { width: 8px; background: #141414; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.09); }

/*.sidebar-content, .sidebar-link { background: #37414a!important; }*/
.color-drop, .color-enunciado { color: #222!important; }
.color-light { color: rgba(255,255,255,0.9)!important; }
.color-light-soft { color: rgba(0,0,0,0.8)!important; }
.side-color { color: rgba(255,255,255,0.8)!important; }
footer { background: #FFF!important; }
.side-color:hover { background: rgba(255,255,255,0.09)!important; }
.hamburger, .hamburger:after, .hamburger:before { background: rgba(0,0,0,0.8)!important; }
.title {
    position: relative;
    padding-bottom: 0;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    opacity: 0.9;
}
.color-alunoLight-black { color: #222!important; }
.color-b7, .color-modulo { color: #222!important; }
.color-modulo:hover { background: #f5f5f5!important; }
.bg-selected-aula { background: rgba(255,255,255,0.09)!important; }
.bg-14 { background: #FFF; }
.bg-form-suporte { background: #dbdbdb!important; }
.bg-modulo { background: rgba(0,0,0, .1)!important; }
.color-icon-sidebar { color: #ccc!important; }

.btnMarcarComoConcluido {
    position: relative;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    font-family: 'Nunito Sans', Montserrat, Poppins, Lato, Helvetica;
    color: rgba(0,0,0, .75);
    font-weight: 600;
}

.color-placeholder-light-light::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7)!important;
    opacity: .73;
}

.btnMarcarComoConcluido:hover { background: #FFF; color: #111; }

.aula-concluida { background: #229754!important; border-color: #229754; color: #FFF!important; }

.color-placeholder-light::-webkit-input-placeholder {
    color: rgba(0,0,0,0.9)!important;
    opacity: .73;
}
.color-placeholder-light::-moz-placeholder {
    color: rgba(0,0,0,0.9)!important;
    opacity: .73;
}
.color-placeholder-light::-ms-input-placeholder {
    color: rgba(0,0,0,0.9)!important;
    opacity: .73;
}

.color-form-suporte { color: #000!important; }



.btn-suporte-enviar {
    border: 2px solid rgba(0,0,0,0.4);
    height: 40px;
    padding: 0 20px;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 12px;
    transition: all .3s;
}

.btn-suporte-enviar:hover, .btn-active { background: #ebedf0; color: #000!important; text-decoration: none; }


@media (min-width: 990px) {
.mensagemCondicaoAvaliacao {
    margin-left: -10.5rem!important;
}}