/* FONT-FAMILY */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Anton:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800);
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
.font-nunito  { font-family: 'Nunito', sans-serif; }
.font-roboto  { font-family: 'Roboto', sans-serif; }
.font-anton { font-family: 'Anton', sans-serif; }
.font-lato { font-family: 'Lato', sans-serif; }
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-opensans { font-family: 'Open Sans', sans-serif; }
.font-raleway { font-family: 'Raleway', sans-serif; }
.font-poppins { font-family: 'Poppins', sans-serif; }
.font-rajdhani { font-family: 'Rajdhani', sans-serif; }
.weight-200 { font-weight: 200!important; }
.weight-300 { font-weight: 300!important; }
.weight-400 { font-weight: 400!important; }
.weight-500 { font-weight: 500!important; }
.weight-600 { font-weight: 600!important; }
.weight-700 { font-weight: 700!important; }
.weight-800 { font-weight: 800!important; }
.weight-900 { font-weight: 900!important; }


/* FONT-SIZE */
.fs-8  { font-size: 8px!important; }
.fs-9  { font-size: 9px!important; }
.fs-10 { font-size: 10px!important; }
.fs-11 { font-size: 11px!important; }
.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-13-5 { font-size: 13.5px!important; }
.fs-14 { font-size: 14px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-16-5 { font-size: 16.5px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-18-5 { font-size: 18.5px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-26 { font-size: 26px!important; }
.fs-27 { font-size: 27px!important; }
.fs-28 { font-size: 28px!important; }
.fs-29 { font-size: 29px!important; }
.fs-30 { font-size: 30px!important; }
.fs-31 { font-size: 31px!important; }
.fs-32 { font-size: 32px!important; }
.fs-33 { font-size: 33px!important; }
.fs-34 { font-size: 34px!important; }
.fs-35 { font-size: 35px!important; }
.fs-35 { font-size: 35px!important; }
.fs-40 { font-size: 40px!important; }
.fs-45 { font-size: 45px!important; }
.fs-50 { font-size: 50px!important; }
.fs-55 { font-size: 55px!important; }
.fs-60 { font-size: 60px!important; }
.fs-65 { font-size: 65px!important; }
.fs-70 { font-size: 70px!important; }
.fs-75 { font-size: 75px!important; }
.fs-80 { font-size: 80px!important; }
.fs-90 { font-size: 90px!important; }
.fs-100 { font-size: 100px!important; }
@media (min-width: 769px) {
	.fs-md-17 { font-size: 17px!important; }
	.fs-md-18 { font-size: 18px!important; }
	.fs-md-21 { font-size: 21px!important; }
	.fs-md-25 { font-size: 25px!important; }
	.fs-md-30 { font-size: 30px!important; }
	.fs-md-35 { font-size: 35px!important; }
	.fs-md-40 { font-size: 40px!important; }
	.fs-md-45 { font-size: 45px!important; }
	.fs-md-50 { font-size: 50px!important; }
	.fs-md-55 { font-size: 55px!important; }
	.fs-md-60 { font-size: 60px!important; }
	.fs-md-65 { font-size: 5em; }
	.fs-md-70 { font-size: 70px!important; }
	.fs-md-75 { font-size: 75px!important; }
}
@media (max-width: 768px) {
	.bg-xs-danger { background: #dc3545; }
	.text-xs-center { text-align: center; }
	.text-xs-right { text-align: right; }
	.fs-xs-75 { font-size: 75px!important; }
	.fs-xs-70 { font-size: 70px!important; }
	.fs-xs-65 { font-size: 65px!important; }
	.fs-xs-60 { font-size: 60px!important; }
	.fs-xs-55 { font-size: 55px!important; }
	.fs-xs-50 { font-size: 50px!important; }
	.fs-xs-20 { font-size: 20px!important; }
	.fs-xs-25 { font-size: 25px!important; }
	.fs-xs-27 { font-size: 27px!important; }
	.fs-xs-30 { font-size: 30px!important; }
	.fs-xs-35 { font-size: 35px!important; }
	.fs-xs-15 { font-size: 15px!important; }
	.fs-xs-16 { font-size: 16px!important; }
	.fs-xs-17 { font-size: 17px!important; }
	.fs-xs-18 { font-size: 18px!important; }
	.fs-xs-15 { font-size: 15px!important; }
	.fs-xs-14 { font-size: 14px!important; }
	.fs-xs-13 { font-size: 13px!important; }
	.fs-xs-10 { font-size: 10px!important; }
}


/* COLOR */
.color-grafite { color: #54595f; }
.color-red-dark, .color-hover-red-dark:hover { color: #bf2837!important; }
.color-c9 { color: #c9c9c9; }
.color-orange { color: #e32f22; }
.color-black { color: #000!important; }
.color-light { color: #f8f9fa!important; }
.color-hover-black:hover { color: #000; }
.color-pink { color: #FF5C9B; }
.color-sell { color: #059ba6; }
.color-roxo { color: rgba(24, 25, 33, .95); }
.color-f1 { color: #f1f1f1; }
.color-f9 { color: #f9f9f9; }
.color-51 { color: #515151; }
.color-666 { color: #666!important; }
.color-777 { color: #777!important; }
.color-555 { color: #555!important; }
.color-444 { color: #444!important; }
.color-333 { color: #333!important; }
.color-111 { color: #111!important; }
.color-222 { color: #222!important; }
.color-blue { color:#1c54af!important; }
.color-hover-blue:hover { color:#1d50a3!important; }
.color-blue-sky { color: #177fde!important; }
.color-blue-dark { color: #085fa3!important; }
.color-blue-weak { color: #597491; }
.color-blue-ocean { color: #249ae3; }
.color-yellow { color: #d4aa15; }
.color-yellow-soft { color: rgba(252,231,125,1); }
.color-yellow-star { color: #f1b922; }

/* SQUARE */
.square-15 { width: 16px!important; height: 16px!important; }
.square-20 { width: 20px!important; height: 20px!important; }
.square-25 { width: 25px!important; height: 25px!important; }
.square-30 { width: 30px!important; height: 30px!important; }
.square-35 { width: 35px!important; height: 35px!important; }
.square-45 { width: 45px!important; height: 45px!important; }
.square-40 { width: 40px!important; height: 40px!important; }
.square-50 { width: 50px!important; height: 50px!important; }
.square-55 { width: 55px!important; height: 55px!important; }
.square-60 { width: 60px!important; height: 60px!important; }
.square-65 { width: 65px!important; height: 65px!important; }
.square-70 { width: 70px!important; height: 70px!important; }
.square-75 { width: 75px!important; height: 75px!important; }
.square-100 { width: 100px!important; height: 100px!important; }
.square-115 { width: 115px!important; height: 115px!important; }
.square-125 { width: 125px!important; height: 125px!important; }
.square-150 { width: 150px!important; height: 150px!important; }
.square-160 { width: 160px!important; height: 160px!important; }
.square-140 { width: 140px!important; height: 140px!important; }
.square-175 { width: 175px!important; height: 175px!important; }
.square-185 { width: 185px; height:185px; }
.square-200 { width: 200px; height:200px; }
.square-300 { width: 300px; height:300px; }

/* HOVER */
.text-d-none { text-decoration: none; }
.hover-d-none:hover { text-decoration: none; }
.hover-white:hover { color:#FFF!important; }
.hover-51:hover { color:#000!important; }


.text-transform-none { text-transform: none!important; }

/* HEIGHT */
@media (min-width: 769px) {
.h-md-365 { height: 365px; }
}

@media (min-width:769px) {
	.h-md-100vh { height: 100vh; }
}
@media (max-width: 768px) {
	.h-xs-175 { height: 175px; }
	.h-xs-75vh { height: 75vh; }
}

.h-0px { height: 0px!important; padding:0px!important; }
.h-2px { height: 2px; }
.h-3px { height: 3px; }
.h-5px { height: 5px; }
.h-10px { height: 10px; }
.h-15px { height: 15px; }
.h-45px { height: 45px; }
.h-30px { height: 30px; }
.h-20px { height: 20px; }
.h-25px { height: 25px; }
.h-50px { height: 50px; }
.h-min-75 { min-height: 75px; }
.h-100vh { height: 100vh; }
.h-100px { height: 100px; }
.h-75vh { height: 75vh; }
.h-90vh { height: 90vh; }
.h-93vh { height: 93vh; }
.h-min-125 { min-height: 125px; }
.h-min-100 { min-height: 100px!important; }
.h-min-150 { min-height: 150px!important; }
.h-min-200 { min-height: 200px!important; }
.h-min-225 { min-height: 225px!important; }
.h-min-250 { min-height: 250px!important; }
.h-min-300 { min-height: 300px!important; }
.h-min-400 { min-height: 400px!important; }
.h-min-425 { min-height: 425px!important; }
.h-min-450 { min-height: 450px!important; }
.h-min-500 { min-height: 500px!important; }
.h-75  { height: 75px!important; }
.h-95  { height: 95px!important; }
.h-110 { height: 110px!important; }
.h-125 { height: 125px!important; }
.h-150 { height: 150px!important; }
.h-170 { height: 170px!important; }
.h-175 { height: 175px!important; }
.h-200 { height: 200px!important; }
.h-225 { height: 225px!important; }
.h-250 { height: 250px!important; }
.h-300 { height: 300px!important; }
@media (min-width: 990px) {
	.h-min-lg-225 { min-height: 225px!important; }
	.h-min-lg-300 { min-height: 300px!important; }
	.h-min-lg-350 { min-height: 350px!important; }
	.h-min-lg-400 { min-height: 400px!important; }
	.h-min-lg-500 { min-height: 500px!important; }
	.h-lg-240 { height: 240px!important; }
	.h-lg-250 { height: 250px!important; }
	.h-lg-400 { height: 400px!important; }
	.h-lg-450 { height: 450px!important; }
	.h-lg-475 { height: 475px!important; }
	.h-lg-500 { height: 500px!important; }
	.h-lg-530 { height: 530px!important; }
	.h-lg-560 { height: 562px!important; }
	.h-lg-225 { height: 225px!important; }
	.h-lg-240 { height: 239px!important; }
	.h-lg-250 { height: 250px!important; }
	.h-lg-300 { height: 300px!important; }
	.h-lg-325 { height: 325px!important; }
	.h-lg-350 { height: 350px!important; }
	.h-lg-385 { height: 385px!important; }
	.h-lg-200 { height: 200px!important; }
	.h-lg-25 { height: 25px!important; }
	.h-lg-50 { height: 50px!important; }
	.h-lg-75 { height: 75px!important; }
	.h-lg-90 { height: 90px!important; }
	.h-lg-95 { height: 95px!important; }
	.h-lg-100 { height: 100px!important; }
	.h-lg-170 { height: 170px!important; }
	.h-lg-175 { height: 175px!important; }
	.h-lg-100px { height: 100px!important; }
	.h-min-lg-425 { min-height: 425px!important; }
}


.mt--35 { margin-top: -35px; }
.mt--45 { margin-top: -45px; }
.mt--50 { margin-top: -50px; }
.mt--60 { margin-top: -60px; }
.mt--67 { margin-top: -67px; }
.mt--75 { margin-top: -75px; }
.mt--85 { margin-top: -85px; }
.mt--5 { margin-top: -5px; }
.mt--325 { margin-top: -325px; }

@media (max-width: 991px) {
	.mt--xs-5 { margin-top: -5px; } 
	.mt--xs-10 { margin-top: -10px; } 
	.mt--xs-15 { margin-top: -15px; } 
	.mt--xs-15 { margin-top: -15px; } 
	.mt--xs-20 { margin-top: -20px; } 
	.mt--xs-50 { margin-top: -50px; } 
	.mt--xs-150 { margin-top: -150px; } 
	.mt--xs-250 { margin-top: -250px; } 
}
@media (min-width: 769px) {
	.mt--md-50 { margin-top: -50px; }
	.mt--md-100 { margin-top: -100px; }
	.mt--md-150 { margin-top: -150px; }
	.mt--md-250 { margin-top: -250px; }
	.mt--md-300 { margin-top: -300px; }
	.mt--md-325 { margin-top: -325px; }
	.mt--md-350 { margin-top: -350px; }
}

/* WIDTH */
.w-0px { width: 0px!important; }
.w-min-250 { min-width: 250px; }
.w-max-250 { max-width: 250px; }
.w-20px  { width: 19px!important; }
.w-25px  { width: 25px!important; }
.w-30px  { width: 30px!important; }
.w-40px  { width: 40px!important; }
.w-45px  { width: 45px!important; }
.w-50px  { width: 50px!important; }
.w-80px  { width: 80px!important; }
.w-100px { width: 100px!important; }
.w-300px { width: 300px!important; }
.w-350px { width: 350px!important; }
.w-375px { width: 375px!important; }
.w-400px { width: 400px!important; }
.w-450px { width: 450px!important; }
.w-500px { width: 500px!important; }

.w-5 { width: 5%; }
.w-10 { width: 10%!important; }
.w-17 { width: 17%!important; }
.w-20 { width: 20%!important; }
.w-30 { width: 30%!important; }
.w-40 { width: 40%!important; }

@media (max-width: 768px) { 
	.w-xs-80 { width: 80%!important; }
	.w-xs-100 { width: 100%!important; }
	.h-xs-200 { height: 200px!important; }
	.h-xs-250 { height: 250px!important; }
	.h-xs-350 { height: 350px!important; }
	.h-xs-100 { height: 100px!important; }
}
@media (max-width: 990px) { 
	.w-sm-100 { width: 100%!important; }
}
@media (min-width: 769px) {
	.w-md-25 { width: 25%!important; }
	.w-md-35 { width: 35%!important; }
	.w-md-40 { width: 40%!important; }
	.w-md-45 { width: 45%!important; }
	.w-md-50 { width: 50%!important; }
	.w-md-75 { width: 75%!important; }
	.w-md-100 { width: 100%!important; }
}
@media (min-width: 990px) {
	.w-min-lg-300 { min-width: 300px!important; }
	.w-max-lg-300 { max-width: 300px!important; }
	.w-lg-375px { width: 375px!important; }
	.w-lg-10 { width: 10%!important; }
	.w-lg-15 { width: 15%!important; }
	.w-lg-17 { width: 17%!important; }
	.w-lg-20 { width: 20%!important; }
	.w-lg-22 { width: 22%!important; }
	.w-lg-23 { width: 23%!important; }
	.w-lg-25 { width: 25%!important; }
	.w-lg-30 { width: 30%!important; }
	.w-lg-35 { width: 35%!important; }
	.w-lg-40 { width: 40%!important; }
	.w-lg-45 { width: 45%!important; }
	.w-lg-50 { width: 50%!important; }
	.w-lg-55 { width: 55%!important; }
	.w-lg-60 { width: 60%!important; }
	.w-lg-65 { width: 65%!important; }
	.w-lg-70 { width: 70%!important; }
	.w-lg-75 { width: 75%!important; }
	.w-lg-80 { width: 80%!important; }
	.w-lg-85 { width: 85%!important; }
	.w-lg-90 { width: 90%!important; }
	.w-lg-95 { width: 95%!important; }
	.w-lg-97 { width: 97%!important; }
}

/* OUTLINE */
.outline-0 { outline: 0px!important; }
.outline-0:focus {
  outline:none!important; 
  border-color: #dbdbdb!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}


/* LETTER SPACING */
.ls--03 { letter-spacing: -.03em; }
.ls--02 { letter-spacing: -.02em; }
.ls--01 { letter-spacing: -.01em; }
.ls-0 { letter-spacing: 0px; }
.ls-02 { letter-spacing: .2px; }
.ls-05 { letter-spacing: .5px; }
.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 3px; }


/* OBJECT-FIT */
.object-fit-cover { object-fit: cover; }
.object-fit-contain { object-fit: contain; }
.object-position-center { object-position: center; }
.object-position-top { object-position: top; }
@media (min-width: 769px) { .object-fit-md-cover { object-fit: cover; } }


/* TEXT-SHADOW */
.text-shadow-5 { text-shadow: 2px 2px rgba(0, 0, 0, .5); }
.text-shadow-4 { text-shadow: 2px 2px rgba(0, 0, 0, .4); }
.text-shadow-3 { text-shadow: 2px 2px rgba(0, 0, 0, .3); }
.text-shadow-2 { text-shadow: 2px 2px rgba(0, 0, 0, .2); }
.text-shadow-1 { text-shadow: 1px 1px rgba(0, 0, 0, .1); }
.text-shadow-0 { text-shadow: none!important; }
.text-shadow { text-shadow: 0 0 80px #000; }

/* Z-INDEX */
.z-1 { z-index: 100; }
.z-2 { z-index: 200; }
.z-3 { z-index: 300; }
.z-4 { z-index: 400; }
.z-5 { z-index: 500; }


/* ROUNDED */
.rounded-10 { border-radius: 10px!important; }
.rounded-5 { border-radius: 5px!important; }
.rounded-3 { border-radius: 3px!important; }
.rounded-2 { border-radius: 2px!important; }
.rounded-top-2 { border-top-left-radius: 2px!important; border-top-right-radius: 2px!important; }
.rounded-1 { border-radius: 1px!important; }
.rounded-right-0 { 
	border-bottom-right-radius: 0px!important;
	border-top-right-radius: 0px!important; 
}
.rounded-left-0 { 
	border-bottom-left-radius: 0px!important;
	border-top-left-radius: 0px!important; 
}
.rounded-bottom-0 { 
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important; 
}
.rounded-top-0 { 
	border-top-left-radius: 0px!important;
	border-top-right-radius: 0px!important; 
}


/* MARGIN */
.ml--2 { margin-left: -2px; }
.ml--3 { margin-left: -3px; }
.ml--5 { margin-left: -5px; }
.ml--15 { margin-left: -15px; }
.ml--50 { margin-left: -50px; }
.ml--60 { margin-left: -60px; }
.mt--10px { margin-top: -10px; }
.mt--15px { margin-top: -15px; }

@media (max-width: 768px) {
	.my-xs-0 { margin-top: 0px!important; margin-bottom: 0px!important; }
	.mt-xs-4-5 { margin-top: 2.3rem!important; }
	.pt-xs-4-5 {padding-top: 2.3rem!important;}
	.px-xs-0 { padding-left: 0px!important; padding-right: 0px!important; }
}
.mt-2-5 {margin-top: .8rem!important; }
.mt-4-5 {margin-top: 2.3rem!important;}
.mb-4-3 {margin-bottom: 2rem!important;}
.mb-4-5 {margin-bottom: 2.3rem!important;}
.my-4-5 {margin-top: 2.3rem!important;margin-bottom: 2.3rem!important;}
@media (max-width: 768px) { .mb-xs-4-5 {margin-bottom: 2.3rem!important;} .mt-xs-225 { margin-top: 225px!important; } }
@media (min-width: 992px) { 
	.mt-lg-2-5 {margin-top: .8rem!important; }
	.mt-lg-225 { margin-top: 225px; }
	.mt-lg-4-5 {margin-top: 2.3rem!important;}
	.pt-lg-4-5 {padding-top: 2.3rem!important;}
	.mb-lg-4-5 {margin-bottom: 2.3rem!important;} 
	.ml--lg-60 { margin-left: -60px; }
	.ml--lg-70 { margin-left: -70px; }
	.ml--lg-80 { margin-left: -80px; }
	.ml-lg-6   { margin-left: 5rem!important; }

}
@media (min-width: 769px) {
.ml--md-5 { margin-left: -5px; }
}

/* PADDING */
.file-form {
	overflow-x: hidden;
	width: 100%;
	border:1px solid #adacac;
	border-radius: 2.2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}
.textarea-form {
	width: 100%;
	border-color: #adacac;
	border-radius: 2.2px;
	padding:15px;
	min-height: 125px;
}
.p-form {
	border-color: #adacac;
	border-radius:2.2px;
	padding-bottom: 1.4rem!important;
	padding-top: 1.4rem!important;
	padding-left: 1rem!important;
	padding-right: 1rem!important;
}
.p-form:focus, .select-form:focus, textarea:focus {
  outline:none!important; 
  border-color: #adacac!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.dropdown-toggle {
	border: 1px solid #adacac!important;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2.2px!important;
}
.select-form {
	width: 100%;
	border-color: #adacac;
	border-radius:2.2px;
	padding-bottom: .68rem!important;
	padding-top: .7rem!important;
	padding-left: 1rem!important;
	padding-right: 1rem!important;
}


@media (min-width: 769px) {
  .px-md-10 { padding-left: 7.5rem!important; padding-right: 7.5rem!important; }
}



@media (min-width: 991px) { .px-xl-8 { padding-left: 7rem!important; padding-right: 7rem!important; }}
@media (min-width: 991px) { .px-xl-7 { padding-left: 6rem!important; padding-right: 6rem!important; }}
@media (min-width: 991px) { .px-xl-6 { padding-left: 5rem!important; padding-right: 5rem!important; }}


.px-0 { padding-left: 0px!important; padding-right: 0px!important; }
.px-0-5 { padding-left: 5px!important; padding-right: 5px!important; }
.px-3-5 { padding-left: 1.25rem!important; padding-right: 1.25rem!important; }
.px-2-5 { padding-left: .75rem!important; padding-right: .75rem!important; }
.px-2-3 { padding-left: .62rem!important; padding-right: .62rem!important; }
@media (min-width: 769px) { .py-md-2-5 { padding-bottom: .75rem!important; padding-top: .75rem!important; }}
.py-2-1 { padding-bottom: .41rem!important; padding-top: .41rem!important; }
.py-2-2 { padding-bottom: .50rem!important; padding-top: .50rem!important; }
.py-2-3 { padding-bottom: .65rem!important; padding-top: .65rem!important; }
.py-2-4 { padding-bottom: .7rem!important; padding-top: .7rem!important; }
.p-2-4 { 
	padding-bottom: .7rem!important;
	padding-top: .7rem!important; 
	padding-left: .7rem!important;
	padding-right: .7rem!important; 
}
.p-2-5 { 
	padding-bottom: .8rem!important;
	padding-top: .8rem!important; 
	padding-left: .8rem!important;
	padding-right: .8rem!important; 
}
.py-3-5 { padding-top: 1.25rem!important; padding-bottom: 1.25rem!important; }
.pt-2-5 { padding-top: .8rem!important; }
.py-2-5 { padding-bottom: .8rem!important; padding-top: .8rem!important; }
.p-4-5 { padding: 2rem!important; }
.pb-4-5 { padding-bottom: 2rem!important; }
.pb-4-7 { padding-bottom: 2.55rem!important; }
.pb-4-8 { padding-bottom: 2.65rem!important; }
.pt-4-5 { padding-top: 2rem!important; }
.pr-4-5 { padding-right: 2rem!important; }
.pr-4-6 { padding-right: 2.2rem!important; }
.pb-5-5 { padding-bottom: 5rem!important; }
.pt-5-5 { padding-top: 5rem!important; }
.pb-6 { padding-bottom: 7rem!important; }
.pb-7 { padding-bottom: 8rem!important; }
.pt-7 { padding-top: 8rem!important; }
.pt-6 { padding-top: 5.75rem!important; }
.pb-10 { padding-bottom: 9rem!important; }
@media (max-width: 768px) { .py-xs-2 { padding-bottom: .5rem!important; padding-top: .5rem!important; }}
@media (min-width: 992px) { .p-lg-4-5 { padding: 2rem!important; } }
@media (min-width: 992px) { .pt-lg-5-5 { padding-top: 5rem!important; } }
@media (min-width: 992px) { .pt-lg-7 { padding-top: 8rem!important; } }
@media (min-width: 992px) { .pt-lg-8 { padding-top: 9rem!important; } }
@media (min-width: 992px) { .pt-lg-9 { padding-top: 10rem!important; } }
@media (min-width: 992px) { .pt-lg-10 { padding-top: 11rem!important; } }


/* CURSOR */
.cursor-pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-text { cursor: text; }
.cursor-drag { cursor: grab; }


/* BORDER */
.border-profile { border:7px solid #ededed; }
.border-active { border-bottom:3px solid rgba(0,0,0,.2); }
.border-muted { border-color: rgba(255,255,255,.25); }
.border-muted-dark { border-color: rgba(0,0,0,.05); }


/* POSITION */
.bottom-0 { bottom: 0; }
.right-0 { right: 0%; }
.left-0 { left: 0%; }


/* FLEX */
@media (max-width: 768px) { .d-xs-flex { display: flex; } }
@media (max-width: 768px) { .d-xs-none { display: none; } }

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (min-width: 992px) {
	.flex-md-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.justify-lg-content-end { justify-content: flex-end!important; }
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (min-width: 992px) {
	.flex-md-between {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/* BACKGROUND */
.bg-e2 { background: #e2e2e2; }
.bg-e8 { background: #e8e8e8; }
.bg-red-dark { background: #bf2837; }
.bg-pink { background: #FF5C9B; }
.bg-db { background: #dbdbdb; }
.bg-transparent { background: transparent!important; }
.bg-c7 { background: #c7c7c7; }
.bg-roxo { background: rgba(24, 25, 33, .95); }
.bg-1d { background: #1d1d1d!important; }
.bg-0 { background: #000; }
.bg-1 { background: #111!important; }
.bg-2 { background: #222; }
.bg-3 { background: #333; }
.bg-26 { background: #262626; }
.bg-25 { background:  #252525; }
.bg-default { background: #777575!important; }
.bg-default:hover { background:#514f4f!important; }
.bg-danger-opacity { background: rgba(220, 53, 69, .94); }
.bg-success-opacity { background: rgba(40, 167, 69, .93); }
.bg-success-opacity-07 { background: rgba(40, 167, 69, .7); }
.bg-fc { background: #fcfcfc!important; }
.bg-f1 { background: #f1f1f1!important; }
.bg-f5 { background: #f5f5f5!important; }
.bg-f7 { background: #f7f7f7!important; }
.bg-f9 { background: #f9f9f9!important; }
.bg-hover-f9:hover { background: #f9f9f9!important; }
.bg-hover-gray:hover { background: #e6e6e6!important; }
.bg-orange { background: #c94f16; }
.bg-blue-opacity { background: rgba(19, 99, 156, .97); }
.bg-dark-opacity { background: rgba(0,0,0,.8); }
.bg-light-opacity { background: rgba(255,255,255,.95); }
.bg-blue { background: #184b70!important; }
.bg-yellow-soft { background: rgba(252,231,125,1); }
.bg-yellow { background: #d47d20; }
.bg-sell { background: #176d87; }
.bg-sell-green { background: #2aa385; }
.bg-gray { background: #e6e6e6; }
.bg-blue-sky { background: #177fde!important; }
.bg-blue-dark { background: #085fa3!important; }
.bg-blue-weak { background: #597491; }
.bg-gray-weak { background: rgba(0,0,0,.6); }

/* PLACEHOLDER */
.font-placeholder-default::-webkit-input-placeholder {
    font-size: 16.75px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #777!important;
    letter-spacing: .5px;
}

@media (min-width: 992px) {
	.display-lg-5 {
	    font-size: 2.5rem;
	    font-weight: 300;
	    line-height: 1.2;
	}
}

@media (max-width: 768px) {
	.display-xs-6 {
	    font-size: 1.7rem;
	    font-weight: 300;
	    line-height: 1.2;
	}
}


.display-4-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-5-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-6 {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-6-5 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-7 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-8 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
}


@media (min-width: 992px) {
.line-height-lg-40 { line-height: 40px; }
.line-height-lg-50 { line-height: 50px; }
}

.line-height-30 { line-height: 30px; }
.line-height-35 { line-height: 35px; }
.line-height-40 { line-height: 40px; }
.line-height-50 { line-height: 50px; }
.line-height-58 { line-height: 58px; }
.line-height-1 { line-height: 1!important; }
.line-height-none { line-height: none!important; }

.line-30 {
	width: 2px;
	height: 30px;
	background: rgba(219, 219, 219, .45);
}
.line-20 {
	width: 2px;
	height: 20px;
	background: rgba(219, 219, 219, .45);
}
.line-15 {
	width: 1.2px;
	height: 15px;
	background: rgba(2, 2, 2, .45);
}
.line-25 {
	width: 2px;
	height: 25px;
	background: rgba(219, 219, 219, .45);
}

.lineHorizontal {
	width: 55px;
	height: 3px;
	background: rgba(0, 0, 0, .05);
}

/* PADRÃ•ES */
.btnLimparFiltro {
	color:#1c54af!important;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}
.btnLimparFiltro:hover { text-decoration: none; }



/* RESIZE */
.resize-none { resize: none; }



.dropdown-item:hover {
	background: #eee!important;
}

.py-1-8 {padding-top:0.45rem!important;padding-bottom:0.45rem!important;}
.py-1-7 {padding-top:0.40rem!important;padding-bottom:0.40rem!important;}
.py-1-5 {padding-top:0.35rem!important;padding-bottom:0.35rem!important;}
.py-1-3 {padding-top:0.29rem!important;padding-bottom:0.29rem!important;}
.py-0-5 {padding-top:0.25rem!important;padding-bottom:0.25rem!important;}
.py-0-4 {padding-top:0.15rem!important;padding-bottom:0.15rem!important;}
.py-0-3 {padding-top:0.10rem!important;padding-bottom:0.10rem!important;}


.overflow-x-auto { overflow-x: auto; overflow-y: hidden; }

.divider-vertical { width: 1.5px; background: rgba(0,0,0,.2); }


.color-status-Pendente { color: #b81f2e; }
.color-status-Em { color: #ab8f13; }
.color-status-Atendido { color: #279915; }
.color-status-Desativado { color: #6c757d; }

.color-status-contrato-0 { color: #279915; }  /*  Ativo         */
.color-status-contrato-1 { color: #6c757d; }  /*  Desativado    */
.color-status-contrato-2 { color: #b81f2e; }  /*  Inadimplente  */

.p-fixed { position: fixed; }
.p-absolute { position: absolute; }
.bottom--75 { bottom: -75px; }
@media (max-width: 768px) { .bottom--xs-50 { bottom: -50px; } }

@media (max-width: 768px) {
  .invisible-xs { visibility: hidden; }
}

.rectangle-125 { width: 130px!important; height: 85px!important; }

@media (max-width: 768px) {
	.d-xs-block { display: block; }
}

.clip-path-horizontal { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
.bg-no-repeat { background: no-repeat; }
.bg-size-cover { background-size: cover; }
.bg-fixed { background-attachment: fixed; }

@media (min-width: 992px) {
.modal-925 {
    max-width: 925px;
}}


.box-shadow { box-shadow: 1px 2px 4px rgb(0 0 0 / 27%); }

.shadow-0 { box-shadow: none!important; }