::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 10px; background: #F4F4F4; }

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after {
  content: '';
  display: block;
}

footer {
    text-align: center;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
}    

.boxArticle {
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
 transition: all .2s ease-in-out;
}
.boxArticle:hover {
 box-shadow: 0 .01rem 01rem rgba(0,0,0,0.4)!important;
 transform: scale(1.01);
}

.filter-option-inner-inner, .btn-light { 
	border:0px!important; 
	background: #FFF!important; 
	color:#222!important; 
	padding: .5px;
}
.dropdown-toggle { padding:10.7px; }
.dropdown-item.selected.active:hover {
    background: #007bff!important;
}
select:focus {
  outline:none!important; 
  border-color: #dbdbdb!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.bg-body { background: #f7f7f763!important; }

.btn-submit {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	border: 0px;
	border-radius: 5px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	cursor: pointer;
	letter-spacing: .5px;
	font-size: 14px;
}

.btn-cadastrar {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	border: 0px;
	color: #FFF;
	border-radius: 3px;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	padding-top: .47rem;
	padding-bottom: .47rem;
	cursor: pointer;
	letter-spacing: .5px;
	font-size: 14.5px;
}

.btn-append, .btn-link {
	font-family: 'Nunito', sans-serif;
	border-radius: 2px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .4rem;
	padding-bottom: .4rem;
	border: 0px;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: .5px;
	font-weight: 600;
}

.btn-cadastrar:hover, .btn-link:hover, .btn-append:hover, .btn-submit:hover { text-decoration: none; color: #FFF; }


label { 
	margin-bottom: 0px!important; 
	font-family: 'Nunito', sans-serif;
	letter-spacing: .5px;
	font-weight: 600;
	color: #666;
}


.section-title {
	padding-left: 1rem!important;
	padding-right: 1rem!important;
	padding-bottom: .5rem!important;
	padding-top: .5rem!important;
	color: #fff;
    background: #343a40;
    border-radius: 2px;
    letter-spacing: .5px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}


.boxToast {
	position:fixed;
	left:20px;
	bottom:20px;
	right:20px;
	z-index: 999999;
	margin-left: auto!important;
}


.boxBtnTop {
	position: fixed;
	right:13px;
	bottom:13px;
	z-index: 99999;
}



.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #222!important;
    border-color: #222!important;
}


@media (min-width:991px) { .content { padding-left: 3rem!important; padding-right: 3rem!important; } }
@media (max-width:990px) { .content { padding-left: 1.5rem!important; padding-right: 1.5rem!important; } }
.content {
  padding-bottom: 3rem!important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}


.section-jumbontron {
	background-position: center!important;
	background-size: cover!important;
	width: 100%;
	padding-top: 85px;
	padding-bottom: 30px;
	padding-left: 12.5px;
	padding-right: 12.5px;
}
.titulo-jumbotron, .slogan-jumbotron { 
	color: #FFF;
	font-weight: 400; 
	text-shadow: 1.2px 1.2px rgba(0, 0, 0, .2);
}
.titulo-jumbotron { font-size: 2.5rem; font-weight: 300; line-height: 1.2; }
.slogan-jumbotron { font-size: 1.25rem; }


.form-suporte {
	border:none; 
	background:none; 
	margin-bottom:0px!important;
	padding:10px;
	width: 100%;
}

.form-suporte:focus {
  outline:none!important; 
  border-color: #666!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}


.circle-40 {
	border-radius: 50%;
	border: 2px solid rgba(255,255,255, .5);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.autoresize {
  width: 100%;
  border:0px!important;
  background: transparent;
  resize: none;
  overflow: hidden;
}

.btnNavTab {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	width: 100%;
	display: flex; 
	align-items: center;
	justify-content: center;
	height: 50px;
	color: #666;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.lineTab { height: 45px; border:1px solid #eee; }

.btnNavTab:hover { 
	text-decoration: none; 
	background: #343a40; 
	color: #F9F9F9;
}

.border-base { border-color: #adacac!important; }
.border-base-1px { border: 1px solid #adacac!important; }


.btn-sell {
	background: #059ba6;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF;
	font-weight: 800;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	border-bottom: 3.5px solid #0f4a5c;
	text-shadow: 1.5px 1.5px rgba(0, 0, 0, .20);
	letter-spacing: .2px;
}
.btn-sell:hover {
	background: #3d93ad;
	text-decoration: none;
	color:#FFF;
}

.btnDown {
	z-index: 999;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	box-shadow: 3px 2px rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	border:2.5px solid rgba(255, 255, 255, .1);
}


/* ICONS */
.header-icons {
	display: flex;
	position: absolute;
	z-index: 999;
}

@media (min-width: 769px) {
	.header-icons { 
		margin-top: 95px;
		margin-left: 50px;
		margin-right: 45px;
		right:0; 
	}
}
@media (max-width: 768px) {
	.header-icons { 
		display: none;
		/*
		justify-content: center;
		left: 0;
		right: 0;
		align-items: flex-end;
		margin-top: 200px;
		*/
	}
}

@media (min-width: 540px) and (max-width: 768px) {
	.header-icons { 
		margin-top: 450px;
	}
}

.header-icons a { 
	color:#FFF; 
	font-size: 18px;
	text-shadow: 3px 2px rgba(0, 0, 0, .6); 
}
.header-icons a:hover { text-decoration: none; }

.header-icons a div {
	box-shadow: 3px 2px rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	border:2px solid rgba(255, 255, 255, .1);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 4px;
	margin-right: 4px;
}

.titulo { color:#e32f22; font-family: 'Montserrat', sans-serif; font-weight: 800; text-shadow: 1px 1px rgba(0, 0, 0, .1); }

@media (min-width: 992px) { 
	.titulo { font-size: 2.5rem; } 
}
@media (max-width: 768px) {
	.titulo { font-size: 1.7rem; }
}


.title-blog {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.03em;
    color: #0b0b0b;
}


.social-medias a {
  color: rgba(255,255,255, .7); 
}

.social-medias a:hover {
  text-decoration: none;
  color: #FFF;
}

.circle {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border:2px solid rgba(255,255,255, .5);
  border-radius: 50%;
}

.circle:hover {
  border-color: #dc3545;
}





.column {
    flex: 0 0 50%;
}
.column-image {
    perspective: 1000px;
}
.column {
    /*flex: 1 0 100%;*/
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.data-img-bomb[data-type=image] {
    transform: initial!important;
}


.featured-image-left {
    transform: rotate3d(.5,.7,0,16.4deg) rotateZ(-2deg);
    transform-origin: bottom left;
}
.featured-image {
    transform-style: preserve-3d;
    transform: rotate3d(.5,.7,0,16.4deg) rotateZ(-2deg);
    transform-origin: bottom right;
}
.featured-image {
    width: 100%;
    height: auto;
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,.24);
    border-radius: .5rem;
}