.menu-link {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
    font-size: 15px;
    color: #555;
    text-decoration: none;
}
.menu-link:hover { text-decoration: none; color: #1b6cce; }

@media (min-width: 991px) { 
	#navMenu { height: 75px; } 
	.menu-link { margin-left: 15px; margin-right: 15px; }
}

@media (max-width: 768px) { .menu-link { display: block; margin-top: 10px!important; } }

.navbar-brand {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}


.modalidade {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 5px 8px;
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 25px;
    line-height: 1.4;
    background-color: #015498;
    color: #ffffff;
}

.btn-comprar {
    background-color: #ff9933;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    padding: 5px 40px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.1)!important;
    transition: all .3s;
    display: block;
}

.btn-comprar:hover { transform: scale(1.1);color: #FFF; text-decoration: none; }


.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}

@media (min-width: 990px) { 
  .width-large { width: 200px; } 
}