@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800);

.font-inter { font-family: 'Inter', sans-serif; }
.font-poppins { font-family: 'Poppins', sans-serif; }
.font-roboto { font-family: 'Roboto', sans-serif; }
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-nunito { font-family: 'Nunito', sans-serif; }
.font-saira-condensed { font-family: 'Saira Condensed', sans-serif; }
.font-rajdhani { font-family: 'Rajdhani', sans-serif; }
.font-raleway { font-family: 'Raleway', sans-serif; }

.box-shadow { box-shadow: 1px 2px 4px rgb(0 0 0 / 27%)!important; }
.box-shadow-1 { box-shadow: 0 .3rem .5rem rgba(0,0,0,.1)!important; }
.box-shadow-0 { box-shadow: none!important; }

body { background: #F8F8F8; }

label { 
  font-family: 'Inter', sans-serif;
  color: #495057; 
}

a { text-decoration: none; }

.weight-200 { font-weight: 200!important; }
.weight-300 { font-weight: 300!important; }
.weight-400 { font-weight: 400!important; }
.weight-500 { font-weight: 500!important; }
.weight-600 { font-weight: 600!important; }
.weight-700 { font-weight: 700!important; }
.weight-800 { font-weight: 800!important; }
.weight-900 { font-weight: 900!important; }

.hoverBox {
  box-shadow: 0px !important;
  transition: all .2s ease-in-out;
}
.hoverBox:hover {
  box-shadow: 0px 10px 20px -10px #022b73;
}

.pb-4-5 { padding-bottom: 2rem!important; }
.pt-2-5 { padding-top: .8rem!important; }
.pt-4-5 { padding-top: 2rem!important; }
.px-4-5 { padding-left: 2rem!important;padding-right: 2rem!important; }
.py-2-3 { padding-bottom: .65rem!important; padding-top: .65rem!important; }
.py-2-4 { padding-bottom: .7rem!important; padding-top: .7rem!important; }
.p-4-5 { padding: 2rem!important; }

.pt-9rem {
    padding-top: 9rem!important;
}

.p-form {
    border-color: #adacac!important;
    padding: 10px 15px!important;
}
.p-form:focus, .select-form:focus, textarea:focus {
  outline:none!important; 
  border-color: #4b7bb3!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.select-form {
    width: 100%;
    border-color: #adacac;
    padding-bottom: .68rem!important;
    padding-top: .7rem!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    border-radius: 0.2rem;
}

.file-form {
    overflow-x: hidden;
    width: 100%;
    background: #fff;
    border: 1px solid #adacac;
    border-radius: 0.2rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.4px;
    padding-bottom: 7.4px;
}

.textarea-form {
    width: 100%;
    border-color: #adacac;
    border-radius: 0.2rem;
    padding: 15px;
    min-height: 125px;
}

.filter-option-inner-inner, .btn-light { 
    border:0px!important; 
    background: #FFF!important; 
    color:#222!important; 
    padding: .5px;
}
.dropdown-toggle {
    border: 1px solid #adacac!important;
    padding-bottom: .60rem!important;
    padding-top: .60rem!important;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2.2px!important;
}
.dropdown-item.selected.active:hover {
    background: #007bff!important;
}

@media (max-width: 768px) {
  .w-xs-100 { width: 100%!important; }
  .w-xs-40 { width: 40%; }
}

.w-2px { width: 2px; }
.w-3px { width: 3px; }
.w-5px { width: 5px; }
.w-40px { width: 40px; }
.w-80px { width: 80px; }
.w-100px { width: 100px; }
.w-150px { width: 150px; }
.w-175px { width: 175px; }
.w-200px { width: 200px; }
.w-225px { width: 225px; }
.w-250px { width: 250px; }
.w-275px { width: 275px; }
.w-300px { width: 300px; }
.w-400px { width: 400px; }
.w-425px { width: 425px; }
@media (min-width: 990px) {
    .w-min-lg-300 { min-width: 300px!important; }
    .w-max-lg-300 { max-width: 300px!important; }
    .w-lg-375px { width: 375px!important; }
    .w-lg-10 { width: 10%!important; }
    .w-lg-15 { width: 15%!important; }
    .w-lg-17 { width: 17%!important; }
    .w-lg-20 { width: 20%!important; }
    .w-lg-22 { width: 22%!important; }
    .w-lg-23 { width: 23%!important; }
    .w-lg-25 { width: 25%!important; }
    .w-lg-30 { width: 30%!important; }
    .w-lg-35 { width: 35%!important; }
    .w-lg-40 { width: 40%!important; }
    .w-lg-45 { width: 45%!important; }
    .w-lg-50 { width: 50%!important; }
    .w-lg-55 { width: 55%!important; }
  .w-lg-60 { width: 60%!important; }
    .w-lg-65 { width: 65%!important; }
    .w-lg-70 { width: 70%!important; }
    .w-lg-75 { width: 75%!important; }
    .w-lg-80 { width: 80%!important; }
    .w-lg-85 { width: 85%!important; }
    .w-lg-90 { width: 90%!important; }
    .w-lg-95 { width: 95%!important; }
    .w-lg-97 { width: 97%!important; }
}

.w-35 { width: 35%!important; }
.w-65 { width: 65%!important; }
.w-70 { width: 70%!important; }

.text-d-inline { text-decoration: line-through; }
.text-d-none { text-decoration: none!important; }
.hover-d-none:hover { text-decoration: none!important; }
.hover-white:hover { transition: all .5s ease-in-out; color:#FFF!important; }
.hover-dark:hover { transition: all .5s ease-in-out; color:#333!important; }


.mb-4-5 {margin-bottom: 2.3rem!important;}
.mt-2-5 {margin-top: .8rem!important; }
.mt-4-5 {margin-top: 2.3rem!important;}
.mt--60px { margin-top: -60px; }
.mt--75px { margin-top: -75px; }
.mt--50px { margin-top: -50px; }
.mt--25px { margin-top: -25px; }
.mt--30px { margin-top: -30px; }
.mt--35px { margin-top: -35px; }
.mt--20px { margin-top: -20px; }
.mt--15px { margin-top: -15px; }
.mt--5px { margin-top: -5px; }
.mt--10px { margin-top: -10px; }
.mt-75px { margin-top: 75px; }

.background-position-center { background-position: center center; }
.background-size-cover { background-size: cover; background-repeat: no-repeat; }
.object-fit-cover { object-fit: cover; }
.object-fit-contain { object-fit: contain; }

.opacity-08 { opacity:.8!important;  }
.opacity-09 { opacity:.9!important;  }
.opacity-095 { opacity:.95!important;  }

.h-75 {
    height: 75px!important;
}
.h-7-5rem { height: 7.8rem!important; }
.h-60px { height: 60px!important; }
.h-50px { height: 50px!important; }
.h-45px { height: 45px!important; }
.h-40px { height: 40px!important; }
.h-0px { height: 0px!important; }
.h-125 { height: 125px!important; }
.h-150 { height: 150px!important; }
.h-200 { height: 200px!important; }
.h-250 { height: 250px!important; }
.h-300 { height: 300px!important; }
.h-min-100 { min-height: 100px!important; }
.h-min-125 { min-height: 125px!important; }
.h-min-150 { min-height: 150px!important; }
.h-2px { height: 2px; }

@media (min-width: 769px) {
    .h-md-240 { height: 240px!important; }
    .h-md-475 { height: 475px!important; }
    .h-md-500 { height: 500px!important; }
}

@media (min-width: 990px) {
  .mt--lg-15px { margin-top: -15px; }
  .mt-lg-75px { margin-top: 75px; }
  .mt--lg-75px { margin-top: -75px; }
  .mt--lg-100px { margin-top: -100px; }
  .mt--lg-125px { margin-top: -125px; }
  .mt--lg-150px { margin-top: -150px; }
  .mt--lg-175px { margin-top: -175px; }
  .mt-lg-200 { margin-top: 200px; }
  .h-lg-100 { height: 100%!important; }
  .h-lg-100px { height: 100px!important; }
  .h-lg-100vh { height: 100vh!important; }
  .h-lg-85vh { height: 85vh!important; }
  .mb-lg-4-5 {margin-bottom: 2.3rem!important;} 
  .h-lg-125 { height: 125px!important; }
  .h-lg-150 { height: 150px!important; }
  .h-lg-175 { height: 175px!important; }
  .h-lg-200 { height: 200px!important; }
  .h-lg-225 { height: 225px!important; }
  .h-lg-240 { height: 240px!important; }
  .h-lg-250 { height: 250px!important; }
  .h-lg-300 { height: 300px!important; }
  .h-lg-325 { height: 325px!important; }
  .h-lg-350 { height: 350px!important; }
  .h-lg-400 { height: 400px!important; }
  .h-lg-425 { height: 425px!important; }
  .h-lg-450 { height: 450px!important; }
  .h-lg-475 { height: 475px!important; }
  .h-lg-492 { height: 492px!important; }
  .h-lg-500 { height: 500px!important; }
  .h-lg-570 { height: 570px!important; }
  .h-lg-550 { height: 550px!important; }
  .h-lg-600 { height: 600px!important; }
  .h-lg-650 { height: 650px!important; }
  .h-lg-700 { height: 700px!important; }
  .h-min-lg-225 { min-height: 225px!important; }
}
@media (max-width: 768px) {
  .overflow-x-xs-scroll { overflow-x: scroll; }
 .mt-xs-4-5 {margin-top: 2.3rem!important;}
 .mt-xs-5 {margin-top: 2.5rem!important;}
 .d-xs-none { display: none!important; } 
 .d-xs-flex { display: flex; }
 .d-xs-block { display: block; }
 .h-xs-200 { height: 200px; }
 .h-xs-250 { height: 250px; }
 .h-xs-300 { height: 300px; }
 .h-xs-350 { height: 350px!important; }
 .h-xs-100vh { height: 100vh!important; } 
 .h-xs-40vh { height: 40vh!important; } 
 .h-xs-50vh { height: 50vh!important; } 
 .h-xs-60vh { height: 60vh!important; } 
 .h-xs-175 { height: 175px!important; } 

  .mb-xs-4-5 {margin-bottom: 2.3rem!important;} 

.px-xs-2-5 { padding-left: .8rem!important; padding-right: .8rem!important; }


}

.h-75px { height: 75px!important; }
.h-100px { height: 100px!important; }
.h-60vh { height: 60vh!important; }
.h-65vh { height: 65vh!important; }
.h-70vh { height: 70vh!important; }
.h-75vh { height: 75vh!important; }
.h-80vh { height: 80vh!important; }
.h-85vh { height: 85vh!important; }
.h-90vh { height: 90vh!important; }
.h-95vh { height: 95vh!important; }
.h-100vh { height: 100vh!important; }
.h-0 { height: 0px!important; }
.w-0 { width: 0px!important; }

.px-2-3 { padding-left: .62rem!important; padding-right: .62rem!important; }
.px-3-5 { padding-left: 1.25rem!important; padding-right: 1.25rem!important; }
.py-3-5 { padding-top: 1.25rem!important; padding-bottom: 1.25rem!important; }
.mx-xs-0 { margin-left: 0px!important; margin-right: 0px!important; }
.mx-2-3 { margin-left: .62rem!important; margin-right: .62rem!important; }
.mx-2-5 { margin-left: .8rem!important; margin-right: .8rem!important; }
.px-2-5 { padding-left: .8rem!important; padding-right: .8rem!important; }
.py-2-5 { padding-bottom: .8rem!important; padding-top: .8rem!important; }
.py-1-5 {padding-top:0.35rem!important;padding-bottom:0.35rem!important;}
.py-1-4 {padding-top:0.31rem!important;padding-bottom:0.31rem!important;}

@media (min-width: 990px) {
.mr-lg--25 { margin-right: -25px; }
.py-lg-2-5 { padding-bottom: .8rem!important; padding-top: .8rem!important; }
}


@media (min-width: 991px) { .ps-xl-6 { padding-left: 5rem!important; }}
@media (min-width: 991px) { .pe-xl-6 { padding-right: 5rem!important; }}

@media (min-width: 991px) { .ps-xl-7 { padding-left: 6rem!important; }}
@media (min-width: 991px) { .pe-xl-7 { padding-right: 6rem!important; }}

@media (min-width: 991px) { .ps-xl-8 { padding-left: 7rem!important; }}
@media (min-width: 991px) { .pe-xl-8 { padding-right: 7rem!important; }}

@media (min-width: 991px) { .ps-xl-9 { padding-left: 8rem!important; }}
@media (min-width: 991px) { .pe-xl-9 { padding-right: 8rem!important; }}

@media (min-width: 991px) { .px-xl-8 { padding-left: 7rem!important; padding-right: 7rem!important; }}
@media (min-width: 991px) { .px-xl-7 { padding-left: 6rem!important; padding-right: 6rem!important; }}
@media (min-width: 991px) { .px-xl-6 { padding-left: 5rem!important; padding-right: 5rem!important; }}

.color-white { color: #FFF!important; }
.color-db { color: #dbdbdb; }
.color-3e { color: #3e3e3e; }
.color-gold { color: #f5c805; }
.color-grafite { color: #54595f; }
.color-777 { color: #777!important; }
.color-666 { color: #666!important; }
.color-555 { color: #555!important; }
.color-444 { color: #444!important; }
.color-333 { color: #333!important; }
.color-222 { color: #222!important; }
.color-111 { color: #111!important; }
.color-000 { color: #000!important; }
.color-e2  { color: #e2e2e2; }
.color-c9  { color: #c9c9c9; }

.display-4-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-5-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-6 {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-6-5 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-7 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-8 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
}


.fs-1rem { font-size: 1rem!important; }
.fs-085rem { font-size: 0.90rem!important; }

.fs-9 { font-size: 9px!important; }
.fs-10 { font-size: 10px!important; }
.fs-11 { font-size: 11px!important; }
.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-14 { font-size: 14px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-27 { font-size: 27px!important; }
.fs-28 { font-size: 28px!important; }
.fs-30 { font-size: 30px!important; }
.fs-32 { font-size: 32px!important; }
.fs-35 { font-size: 35px!important; }
.fs-40 { font-size: 40px!important; }
.fs-44 { font-size: 44px!important; }
.fs-45 { font-size: 45px!important; }
.fs-50 { font-size: 50px!important; }
.fs-55 { font-size: 55px!important; }
@media (min-width: 769px) {
  .fs-md-17 { font-size: 17px!important; }
  .fs-md-19 { font-size: 19px!important; }
  .fs-md-25 { font-size: 25px!important; }
  .fs-md-30 { font-size: 30px!important; }
  .fs-md-35 { font-size: 35px!important; }
  .fs-md-40 { font-size: 40px!important; }
    .fs-md-75 { font-size: 75px!important; }
  .fs-md-50 { font-size: 50px!important; }
  .fs-md-55 { font-size: 55px!important; }
  .fs-md-60 { font-size: 60px!important; }
}
@media (max-width: 768px) {
  .fs-xs-15 { font-size: 15px!important; }
  .fs-xs-17 { font-size: 17px!important; }
  .fs-xs-20 { font-size: 20px!important; }
  .fs-xs-25 { font-size: 25px!important; }
  .fs-xs-35 { font-size: 35px!important; }
    .fs-xs-50 { font-size: 50px!important; }
}



/* ROUNDED */
@media (min-width: 990px) {
  .rounded-lg-20 { border-radius: 20px; }
  .rounded-top-lg-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
  .rounded-bottom-lg-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
  .rounded-lg-0 { border-radius: 0px!important; }
  .rounded-right-lg-0 { border-top-right-radius: 0px!important; border-bottom-right-radius: 0px!important; }
}

.rounded-6 { border-radius: 6px!important; }
.rounded-7 { border-radius: 7px!important; }
.rounded-10 { border-radius: 10px!important; }
.rounded-20 { border-radius: 20px!important; }
.rounded-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
.rounded-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
.rounded-30 { border-radius: 30px; }
.rounded-3 { border-radius: 3px!important; }
.rounded-2 { border-radius: 2px!important; }
.rounded-top-2 { border-top-left-radius: 2px!important; border-top-right-radius: 2px!important; }
.rounded-1 { border-radius: 1px!important; }
.rounded-left-2 { border-bottom-left-radius: 2px!important; border-top-left-radius: 2px!important; }
.rounded-right-2 { border-bottom-right-radius: 2px!important; border-top-right-radius: 2px!important; }

.rounded-right-0 { 
  border-bottom-right-radius: 0px!important;
  border-top-right-radius: 0px!important; 
}
.rounded-left-0 { 
  border-bottom-left-radius: 0px!important;
  border-top-left-radius: 0px!important; 
}
.rounded-bottom-0 { 
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important; 
}
.rounded-top-0 { 
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important; 
}


/* OUTLINE */
.outline-0, .btn { outline: 0px!important; }
.outline-0:focus, .btn:focus {
  outline:none!important; 
  border-color: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.bg-hover-222e3c:hover { background: #222e3c!important; }
.bg-inadimplente { background: #c45210; }
.text-inadimplente { color: #c45210; }
.bg-666 { background: #666!important; }
.bg-555 { background: #555!important; }
.bg-444 { background: #444!important; }
.bg-1 { background: #111; }
.bg-blue-dark { background: #015498; }
.bg-orange, .bg-hover-orange:hover { background: #ff9933!important; }
.bg-f1 { background: #F1F1F1; }
.bg-f9 { background: #F9F9F9; }
.bg-db { background: #dbdbdb; }


.clip-path-horizontal { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
.bg-no-repeat { background: no-repeat; }
.bg-size-cover { background-size: cover; }
.bg-fixed { background-attachment: fixed; }

@media (min-width: 992px) {
.modal-925 {
    max-width: 925px;
}}

.p-fixed { position: fixed; }
.p-absolute { position: absolute; }
.bottom--75 { bottom: -75px; }
@media (max-width: 768px) { .bottom--xs-50 { bottom: -50px; } }


/* LETTER SPACING */
.ls-05 { letter-spacing: .5px; }
.ls-1 { letter-spacing: 1px; }


.line-height-5-5 { line-height: 17px; }
.line-height-9-5 { line-height: 9.5px; }
.line-height-40 { line-height: 40px; }


.border-color-transparent { border-color: transparent; }
.border-form { border: 1px solid #adacac!important; }
.border-right-0 { border-right: 0px!important; }
.border-left-0 { border-right: 0px!important; }

/* TEXT-SHADOW */
.text-shadow-5 { text-shadow: 2px 2px rgba(0, 0, 0, .5); }
.text-shadow-4 { text-shadow: 2px 2px rgba(0, 0, 0, .4); }
.text-shadow-3 { text-shadow: 2px 2px rgba(0, 0, 0, .3); }
.text-shadow-2 { text-shadow: 2px 2px rgba(0, 0, 0, .2); }
.text-shadow-1 { text-shadow: 1px 1px rgba(0, 0, 0, .1); }




.bg-base { background: #222e3c!important; }

.btn-add {
  background: #222e3c;
  color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 2px;
  border:none;
  transition: all .2s ease-in-out;
}
.btn-add:hover { 
    color: #FFF; 
    text-decoration: none;
    background: #1d2733!important;
}

.section-title {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: #fff;
    background: #222e3c;
    border-radius: 2px;
    letter-spacing: .5px;
}

.boxToast {
    position:fixed;
    left:20px;
    bottom:20px;
    right:20px;
    z-index: 999999;
    margin-left: auto;
    width: 350px;
}

#alertSuccess, #alertDanger {
    border-radius: .2rem;
    padding-bottom: .25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.05);
}

.toast-success { background: rgba(40, 167, 69, 0.93); }
.toast-danger  { background: rgba(220, 53, 69, .94); }


.color-hover-222e3c:hover { color: #222e3c!important; }
.color-blue-dark { color: #005594; }
.color-blue-info-link { color: #174b96!important; }

.overlay-dark { background-color: rgba(0, 0, 0, 0.65); }

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: .7;
    background: #000;
}

.z-3 { z-index: 999; }
.z-4 { z-index: 9999; }
.z-5 { z-index: 99999; }
.z-6 { z-index: 999999; }
.z-7 { z-index: 9999999; }
.z-8 { z-index: 99999999; }
.z-9 { z-index: 999999999; }


.square-15 { width: 15px; height: 15px; }
.square-20 { width: 20px; height: 20px; }
.square-25 { width: 25px; height: 25px; }
.square-30 { width: 30px; height: 30px; }
.square-35 { width: 35px; height: 35px; }
.square-40 { width: 40px; height: 40px; }
.square-45 { width: 45px; height: 45px; }
.square-50 { width: 50px; height: 50px; }
.square-55 { width: 55px; height: 55px; }
.square-60 { width: 60px; height: 60px; }
.square-65 { width: 65px; height: 65px; }
.square-75 { width: 75px; height: 75px; }
.square-100 { width: 100px; height: 100px; }
.square-150 { width: 150px; height: 150px; }
.square-profile { width: 100px; height: 75px; }


@media (max-width: 768px) {
  .text-xs-center { text-align: center; }
  .text-xs-right { text-align: right; }
}



.cursor-pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-text { cursor: text; }
.cursor-drag { cursor: grab; }


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-0 { right: 0!important; left: unset; }

.user-select-none { user-select: none; }


.bg-wpp {
    background: #1cad52;
}
.box-shadow-wpp {
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
}