::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #c7d02f; }

body { overflow-x: hidden; }

.sub-header {
    background: #062d5c;
    height: 50px;
}
.bg-line { background: #c7d02f; }


@media(min-width: 769px) {
    #menu { height: 110px; }
    .nav-link {
        padding-left: 18px!important;
        padding-right: 18px!important;
        padding-top: 35px;
        padding-bottom: 25px;  
    }
}

@media(min-width: 990px) {
    .w-lg-700px { width: 700px; }
}

.color-icon-footer { color: #c7d02f!important; }
.color-navlink { color: #42495b; }
.nav-link {
    color: #42495b!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.nav-link:hover { color: #062d5c!important; text-decoration: none; border-color: #062d5c; }


.btn-azul {
    color: #FFF;
    background: #0c52a8;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s; 
}

.btn-azul:hover { background:#062d5c; color: #FFF!important; }

.btnInscrever {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: #062d5c;
    border-radius: 25px;
    padding-left: 25px!important;   
    padding-right: 25px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;
    transition: all .3s;
}
.btnInscrever:hover { color:#FFF!important; background: #062d5c; text-decoration: none; }
.animation-grow:hover { transform: scale(1.1); }

.bg-f4 { background: #f4f4f4; }

.btnEntrarEmContato {
    color: #FFF!important;
    background-color: #63bd37;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    text-decoration: none;
    line-height: 1;
    transition: all .3s;
    border:0px;
    color: #111;
    width: 100%;
    border-radius: 3px;
    display: block;
    margin-top: -20px;
    font-weight: 600;
}
.btnEntrarEmContato:hover { background: #17a37b; }

.box-shadow { box-shadow: 1px 2px 4px rgb(0 0 0 / 27%); }


.form::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.form::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.form::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}

.border-form, .border-form:focus { border-top:1px solid #222!important;border-bottom:1px solid #222!important;border-right: 1px solid #222!important;border-left:0px!important; }
.border-form-modal, .border-form-modal:focus { border:1px solid #555!important; }

.bg-overlay {
    opacity: .8;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(11, 66, 99, 0.5);
}


.btnInscricao {
   font-family: "Poppins", Sans-serif;
   font-size: 1em;
   font-weight: 700;
   letter-spacing: .5px;
   color: #FFF!important;
   background-color: #062d5c;
   border-radius: 25px 25px 25px 25px;
   text-decoration: none;
   transition: all .3s;
   padding: 0.8em 5em 0.8em 5em;
}
.btnInscricao:hover { background: #062d5c; color: #FFF!important; text-decoration: none; }

.fig-caption { 
  background: rgba(6, 45, 92, .85);
  height: 125px;
}


.form {
    height: 50px;
    width: 100%;
    display: block;
    background: none;
    border: 2px solid rgba(99,121,133,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;    
}

.form::-webkit-input-placeholder {
    color:#444;
    opacity: .73;
}
.form::-moz-placeholder {
    color:#444;
    opacity: .73;
}
.form::-ms-input-placeholder {
    color:#444;
    opacity: .73;
}



.form-contact:focus {
  outline:none!important; 
  border-color: rgba(255,255,255,0.5)!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.form-contact {
    height: 50px;
    width: 100%;
    display: block;
    background: none;
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;   
    color: #FFF; 
}

.form-contact::-webkit-input-placeholder {
    color:#FFF;
    opacity: .73;
}
.form-contact::-moz-placeholder {
    color:#FFF;
    opacity: .73;
}
.form-contact::-ms-input-placeholder {
    color:#FFF;
    opacity: .73;
}



.color-azul { color: #062d5c!important; }
.bg-faixa { background: #062d5c!important; }
.color-star { color: #f0ad4e; }
.color-faixa {color: #e6fff9!important;}
.color-faixa-verde { color: #062d5c!important; }
.color-grafite { color: #54595f; }
.color-d4 { color: #d4d4d4; }
.opacity-04 { opacity: .4; }

.uk-dotnav>.uk-active>* { background: #062d5c!important; }

.border-unidade { border:2px solid rgba(255,255,255, .3); }


.bg-wpp {
    background: #1cad52!important;
}
.box-shadow-wpp {
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
}


@media (min-width: 990px) { 
  .contact-methods-container { padding-right: 155px; } 
}


.social-icon-facebook {background-color: #3b5998;}
.social-icon-instagram {background: #CE5325;}


.btnSaibaMais {
    font-family: "Poppins", Sans-serif;
    border-radius: 40px;
    color: #FFF!important;
    background-color: #062d5c;
    border-color: rgba(145,233,0,0);
    font-weight: 500;
    transition: all .3s;
    fill: #fff;
    text-align: center;
    padding: 12px 24px;
    line-height: 1;
    text-decoration: none;
}
.btnSaibaMais:hover { text-decoration: none; background: #002156; }

@media (min-width: 769px) { .btnSaibaMais { font-size: 1.3vw; } }
@media (max-width: 768px) { .btnSaibaMais { font-size: 4.5vw; }  }

.box-info {
    box-shadow: 0px 10px 20px -10px #022b73;
    transition: all .2s ease-in-out;
}
.box-info:hover {
    transform: scale(1.01);
}


.btn-submenu {
    color: #c7d02f;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-submenu:hover { text-decoration: none; background-color: rgba(255, 255, 255, 0.1); color: #FFF; }

.btn-submenu-media {
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-submenu-media:hover { text-decoration: none; color: #FFF!important; }


.bg-img-banner {
    background-size: cover;
    background-position: center; 
    width: 100%;
    background-repeat: no-repeat;
    min-height: 450px;
}

@media (max-width: 768px)
{
    .bg-img-banner {
        background-size: cover;
        background-position: center; 
        width: 100%;
        background-repeat: no-repeat;
        min-height: 185px;    
    }

    #banners { clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%); }
}

.btnPortalAluno {
    border: 1.9px solid #c7d02f;
    padding: 5px 10px;
    border-radius: 3px;
    color: #c7d02f;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.btnPortalAluno:hover { background-color: rgba(255, 255, 255, 0.1); color: #FFF; text-decoration: none; }


.btnCall {
    color: #0a58ca;
    height: 55px;
    font-size: 15px;
    min-width: 220px;
    transition: box-shadow 0.2s ease 0s;
    padding: 0px 25px;
    border-radius: 50px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all .5s;
    background: #e9f525;
}
.btnCall:hover { text-decoration: none; background:#e9f525; }

.bg-gradient { background:#c7d02f; transition: all .5s; }
.bg-hover-gradient:hover { background:#e9f525; }

.bg-facebook { transition: all .5s; background: #2C5C9B; }
.bg-facebook:hover { background: #2d65ad; }

.bg-instagram {   background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }

.bg-linkedin { transition: all .5s; background: #005A89; }
.bg-linkedin:hover { background: #056496; }


.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}


#formBtnEnviar {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: linear-gradient(-75deg,#014683,#0a619c);
    border-radius: 30px 30px 30px 30px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;
    transition: all .3s;
}
#formBtnEnviar:hover { color: #FFF!important; text-decoration: none; background: linear-gradient(-75deg,#014683,#0a619c); }




.bg-investimento { background: #36be5b; }
.bg-promo { background: #1a983c; }
.color-promo { color: #fce483; }

.bg-forma-pg { background: #36be5b; }
.color-forma-pg { color: #36be5b!important; }
.border-forma-pg { border:2px solid #36be5b; }

@media (min-width: 992px) {
.height-categorias {
    height: 65px!important;
}}

.btnCursoInscreverSe {
   color: #002f58;
   background: linear-gradient(180deg,#ffe47d,#e1ba24);
   font-size: 20px;
   min-width: 220px;
   transition: box-shadow 0.2s ease 0s;
   padding: 10px 25px;
   font-weight: 800;
   font-family: 'Inter', sans-serif;
   border-radius: 50px;
   display: inline-flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid transparent;
   text-decoration: none;
   transition: all .5s;
}

.btnCursoInscreverSe:hover { color: #002f58; }

.box-shadow-warning { box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px; }



.line-form {
    width: 10px;
    height: 60px;
    background: rgba(15,34,11, .8);
}

.lead-form {
    border:0px;
    color: #387035!important;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
}

.lead-form:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
}

.lead-form::-webkit-input-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}
.lead-form::-moz-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}
.lead-form::-ms-input-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}


.btn-news {
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
    height: 60px;
    background: linear-gradient(-75deg,#014683,#0a619c);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    padding: 0px 25px;
    color: #fff!important;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 100%;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color: #FFF;
    border:0px;
    box-shadow: rgb(3 78 146 / 80%) 0px 0px 20px;
    transition: all .5s;
}

.btn-news:hover {
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgb(3 78 146 / 40%);
    color: #fff;
}

@media (max-width: 768px)
{
    .btn-news {
        height: 45px;
        border-radius: 2px;
        font-size: 15px;
        margin-top: -8px;
    }
}



.filter-option-inner-inner, .btn-light { 
    border:0px!important; 
    background: #FFF!important; 
    color:#002f58!important; 
    padding: .5px;
    font-weight: 600;
    opacity: .9;
}
.dropdown-toggle {
    border: 2px solid #222!important;
    padding-bottom: .60rem!important;
    padding-top: .60rem!important;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px!important;
}
.dropdown-item.selected.active:hover {
    background: #007bff!important;
}

.filtro-select {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #222;
    color: #002f58!important;
    font-weight: 500;
    border-radius: 3px;    
}

.filtro-search-curso {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #222;
    color: #002f58!important;
    font-weight: 500;
}

.filtro-search-curso:focus { outline-width: 0; }

.filtro-search-curso::-webkit-input-placeholder {
    font-weight: 600;
    color:#002f58;
    opacity: .73;
}
.filtro-search-curso::-moz-placeholder {
    font-weight: 600;
    color:#002f58;
    opacity: .73;
}
.filtro-search-curso::-ms-input-placeholder {
    font-weight: 600;
    color:#002f58;
    opacity: .73;
}



      .border-th { border-color: #e3e3e3!important; }
      .btn-info { padding:10px 20px; font-size: 17px; border: 3px solid #333; background: transparent; border-radius: 5px; font-family: 'Poppins', sans-serif; font-weight: 600; transition: all .1s ease-in-out; }
      .btn-info:hover, .btn-info:focus, .btn-info:active { background: #FFF; border: 3px solid #333!important; color: #222; }