@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

.lead-form { color: #555!important; font-weight: 600; }
.lead-form:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
}

.lead-form::-webkit-input-placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#555;
    opacity: .9;
}
.lead-form::-moz-placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#555;
    opacity: .9;
}
.lead-form::-ms-input-placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#555;
    opacity: .9;
}

.lead-form-select {
    font-weight: 600;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: rgba(85, 85, 85, 0.95);
}


@media (min-width: 990px) {
    #banner {
        background-repeat: no-repeat;
        background-position: center center;
        height: 570px;
    }
}


@media (max-width: 768px) {
    #banner {
        background-repeat: no-repeat;
        padding-bottom: 25px;
    }
}


.footer__copyright {
    padding: 18px 0;
    border-top: 1px solid rgba(246,249,251,.07);
}

@media (min-width: 768px) {
.footer__copyright--by {
    text-align: right;
}}


.link--white {
    color: #555;
}
.link--white:hover {
    color: #960f1d;
}




.pulse-button {
    -webkit-animation: pulse 1.5s infinite;
}

.wpp-pulse-button {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 85px;
    height: 85px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
    -webkit-animation: pulse 1.5s infinite;

    position: relative;
    margin: auto; 
    border: double 7px transparent;
    border-radius: 50%;
    background: #1cad52;
    border:5px solid rgba(0,0,0,.1);

}

.wpp-pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
