@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.font-roboto-condensed  { font-family: 'Roboto Condensed', sans-serif; }

::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: linear-gradient(127deg,#034e92 0,#338558eb 100%); }

.sub-header {
    background: #FFF;
    border-bottom: 1.75px solid #c9c9c9;
    color: #fff !important;
}

.btn-submenu {
	color: #002f58;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
}
.btn-submenu:hover { text-decoration: none; color: #021a2e!important; }

.btn-submenu-media {
    color: #002f58;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-submenu-media:hover { text-decoration: none; color: #002f58!important; }

    

.btnPortalAluno {
	padding: 7px 10px!important;
    border: 1px solid #fff;
    background: linear-gradient(-75deg,#014683,#0a619c);
    margin-left: 15px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
}
.btnPortalAluno:hover { background-color: rgba(255, 255, 255, 0.1); }

.nav-link-drop {
    color: #42495b!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13.5px;
    transition: all .2s;
    text-align: left;
}
.nav-link-drop:hover { color: #062d5c!important; text-decoration: none; border-color: #062d5c; }

.nav-link {
	border: 1px solid #FFF;
	color: #002f58;
	line-height: 25px;
	padding: 10px 15px!important;
    font-family: 'Poppins', sans-serif;
    font-size: 14.5px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;
}

    .body-height-curso { height: 535px; }

@media (min-width: 992px)  {
    .height-categorias { height: 65px!important; }
    .ms-lg-35px { margin-left: 35px; }
    .h-lg-240 { height: 240px; }
    .h-lg-290 { height: 300px; }
    .nav-link {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }
}

.nav-link:hover, .link-ativo {
	color: #002f58;
    border: 1px solid #002f58;
    background: transparent;
    text-decoration: none;
}


.btnAreaAluno {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: linear-gradient(-75deg,#014683,#0a619c);
    border-radius: 30px 30px 30px 30px;
    padding-left: 27.5px!important;
    padding-right: 27.5px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 14px;
    transition: all .3s;
}
.btnAreaAluno:hover { color: #FFF!important; text-decoration: none; background: linear-gradient(-75deg,#014683,#0a619c); }
.animation-grow:hover { transform: scale(1.1); }

.bg-investimento { background: #36be5b; }
.bg-gradient { background: rgba(75, 172, 56, .15)!important; border: 2px solid #4bac38; }
.bg-gradient:hover { background: linear-gradient(127deg,#034e92 0,#338558eb 100%)!important; }

.bg-f4 { background: #f4f4f4; }
.bg-footer { background: linear-gradient(180deg,#034e92 0,#032f58 100%); }
.bg-verde-gradient { background: linear-gradient(to right, rgba(101,163,34,1) 0%, rgba(14,149,73,1) 100%) !important; }
.color-verde { color: #4bac38; }
.color-amarelo { color: #f8d85c; }

.btnAreas:hover { text-decoration: none; }

.btn-sell-matriculas-desconto {
 background: rgba(255, 255, 255, 1);
 display:inline-block;
 color: #002f58;
 font-family:'Nunito', sans-serif;
 font-size:18px;
 padding:14px 35px;
 text-decoration:none;
 text-transform: uppercase;
 font-weight: 900!important;
 border-radius: 3px;
 box-shadow: 1px 2px 4px rgb(0 0 0 / 70%);
}

.btn-sell-matriculas-desconto:hover { color: #006323; text-decoration: none; }


.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(16 13 3 / 75%);
}

.line-v { width: 5px; height: 150px; background: rgba(0,0,0,.15); }

.btnCall {
   color: #FFF;
   height: 55px;
   font-size: 15px;
   min-width: 220px;
   transition: box-shadow 0.2s ease 0s;
   padding: 0px 25px;
   font-weight: 700;
   font-family: Roboto, Arial, sans-serif;
   border-radius: 50px;
   display: inline-flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid transparent;
   text-decoration: none;
   transition: all .5s;
}

.btnCursoInscreverSe {
   color: #002f58;
   background: linear-gradient(180deg,#ffe47d,#e1ba24);
   font-size: 20px;
   min-width: 220px;
   transition: box-shadow 0.2s ease 0s;
   padding: 10px 25px;
   font-weight: 800;
   font-family: 'Inter', sans-serif;
   border-radius: 50px;
   display: inline-flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid transparent;
   text-decoration: none;
   transition: all .5s;
}

.btnCursoInscreverSe:hover { color: #002f58; }

.btnCategoria:hover, .btnHovered {
    background: #002f58;
    color: #f5ffeb;
}
.bg-base-soft { background: #002f58; }

.btnAreasCursos {
    padding: 12px 10px;
    border: 2px solid #FFF;
    border-radius: 2px;
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 80px #000;
    text-transform: uppercase;
    background: #53b037; 
}

.btnAreasCursos:hover { color: #FFF; background: #57bf37; text-decoration: none; }

.border-top-gradient { background: linear-gradient(to right, rgb(144,199,47) 0%, rgb(163,204,48) 25%, rgb(201,213,51) 75%, rgb(220,218,52) 100%) !important; }


.mt--80 { margin-top: -80px; }

.h-150 { height: 150px; }

@media (min-width: 992px) {
.h-lg-500 { height: 500px!important; }
.h-lg-540 { height: 492px!important; }
.h-lg-325 { height: 325px!important; }
.h-lg-350 { height: 350px!important; }
}

@media (max-width: 768px) {
    .h-xs-350 { height: 350px!important; }
}

.color-suave { color: #78909C; }
.color-suave-fort { color: #6b808a; }

.line-form {
    width: 10px;
    height: 60px;
    background: rgba(15,34,11, .8);
}

.lead-form {
    border:0px;
    color: #387035!important;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
}

.lead-form:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
}

.lead-form::-webkit-input-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}
.lead-form::-moz-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}
.lead-form::-ms-input-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}


.btnEntrarEmContato {
    color: #FFF;
    width: 100%;
    border:0px; 
    background: linear-gradient(to right, rgba(101, 163, 34, 1) 0%, rgba(14, 149, 73, 1) 100%) !important;
    border-radius: 5px;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}
.btnEntrarEmContato:hover { background: #ce1b33; }

.bg-line { background: #63bd37; }
.bg-newsletter { background: #4bac38; }
.bg-wpp { background: #1cad52; }
.box-shadow-wpp { box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px; }
.box-shadow-warning { box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px; }

.btnCall:hover {
    text-decoration: none;
    box-shadow: 0 0 25px 10px rgb(26 195 146 / 40%);
    color: #fff;
}

.social-icon { background: linear-gradient(127deg,#034e92 0,#338558eb 100%); }
.social-icon:hover { background: linear-gradient(127deg,#034e92 0,#338558eb 100%); }

.bg-dif { background: linear-gradient(127deg,#034e92 0,#338558eb 100%); }

.fig-caption { 
    background: linear-gradient(127deg,#034e92 0,#338558eb 100%);
    height: 125px;
}

.uk-dotnav>.uk-active>* { background: #15b059!important; }

.w-0px { width: 0px; margin-left: -8px; }


.color-titulo {
    color: #002f58!important;
}

.line-button-categorias {
    width: 9px;
    height: 57.5px;
    background: #ccc;
}


/*#newsletter { background: #034886; }*/

.border-right {
    border-right: 1px solid #dee2e6!important;
}

.border-o-caminho {
   border-width: 2px!important;
   border-color: rgba(255,255,255, .1)!important;
}
.border-color-xs { border-color: #dee2e6!important; }
    
@media (min-width: 769px) {  .border-color-xs { display: none; } }

@media (max-width: 768px) { .height-categorias { height: 95px!important; } .border-o-caminho { border:none!important; } }


.box-info { 
  box-shadow: 0px 10px 15px -10px #022B73; 
  transition: all .2s ease-in-out; 
  border-radius: 10px;
  border: 1px solid rgba(83, 0, 130, .1);
  height: 100px;
}

.box-info:hover { border: 1px solid rgba(83, 0, 130, .2); }

.btn-news {
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
    height: 60px;
    background: linear-gradient(-75deg,#014683,#0a619c);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    padding: 0px 25px;
    color: #fff!important;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 100%;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color: #FFF;
    border:0px;
    box-shadow: rgb(3 78 146 / 80%) 0px 0px 20px;
    transition: all .5s;
}

.btn-news:hover {
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgb(3 78 146 / 40%);
    color: #fff;
}

@media (max-width: 768px)
{
    .btn-news {
        height: 45px;
        border-radius: 2px;
        font-size: 15px;
        margin-top: -8px;
    }
}

.pulse-button {
    -webkit-animation: pulse 1.5s infinite;
}

.wpp-pulse-button {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 85px;
    height: 85px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
    -webkit-animation: pulse 1.5s infinite;

    position: relative;
    margin: auto; 
    border: double 7px transparent;
    border-radius: 50%;
    background: #1cad52;
    border:5px solid rgba(0,0,0,.1);

}

.wpp-pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}


.btnCardMatriculeSe {
    font-family: "Poppins", Sans-serif;
    border-radius: 3px;
    color: #fff;
    background: linear-gradient(127deg,#034e92 0,#338558eb 100%);
    border-color: rgba(145,233,0,0);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s;
    fill: #fff;
    text-align: center;
    padding: 20px 24px;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
    transition: all .1s;
    font-size: 17px!important;
}
.btnCardMatriculeSe:hover {
    background: linear-gradient(127deg,#034e92 0,#338558eb 100%);
    color: #FFF!important;
}

.cardCursos {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.color-star {
    color: #f0ad4e;
}


.bg-active-cat { 
    background: linear-gradient(127deg,#034e92 0,#338558eb 100%)!important;
    color: #FFF!important;
}

.btn-cat { 
    border-right: 2px solid #eee!important;
    transition: none;
}
.btn-cat:hover {
    background: linear-gradient(127deg,#034e92 0,#338558eb 100%)!important;
    color: #FFF!important;
}

.btn-cat { outline: 0px!important; }
.btn-cat:focus {
  outline:none!important; 
  border-color: #eee!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}


.btnLGPD {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: linear-gradient(-75deg,#014683,#0a619c);
    border-radius: 30px 30px 30px 30px;
    padding-left: 35px!important;
    padding-right: 35px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    font-size: 16px;
    transition: all .3s;
}
.btnLGPD:hover { color:#FFF!important; background: linear-gradient(-75deg,#014683,#0a619c); text-decoration: none; }


.btnCurso {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: linear-gradient(-75deg,#014683,#0a619c);
    border-radius: 30px 30px 30px 30px;
    padding-left: 35px!important;
    padding-right: 35px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    font-size: 16px;
    transition: all .3s;
    font-weight: 600;
}

.btnCurso:hover { text-decoration: none; }

.background-overlay-curso {
    opacity: 0.8;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.h-175 { height: 175px; }
.h-200 { height: 200px; }


.card-header {
    background: linear-gradient(127deg,#3fb072 0,#1178d6 100%);

}
.btnSaibaMais {
    padding: 15px 20px;
    background: linear-gradient(127deg,#1178d6 0,#3fb072 100%);
    color: #FFF;
    font-weight: 700;
    font-family: 'Poppins';
    letter-spacing: 0.4px;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    display: block;
    border-radius: 5px;
}

.btnSaibaMais:hover { color: #FFF; text-decoration: none; }


.bg-img-banner {
    background-size: cover;
    background-position: center; 
    width: 100%;
    background-repeat: no-repeat;
    min-height: 450px;
}

@media (max-width: 768px)
{
    .bg-img-banner {
        background-size: cover;
        background-position: center; 
        width: 100%;
        background-repeat: no-repeat;
        min-height: 185px;    
    }

    #banners { clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%); }
}


.bg-promo { background: #1a983c; }
.color-promo { color: #fce483; }

.bg-forma-pg { background: #36be5b; }
.color-forma-pg { color: #36be5b!important; }
.border-forma-pg { border:2px solid #36be5b; }


.search-curso {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #222;
    color: #002f58!important;
    font-weight: 500;
}

.search-curso::-webkit-input-placeholder {
    font-weight: bold;
    color:#002f58;
    opacity: .73;
}
.search-curso::-moz-placeholder {
    font-weight: bold;
    color:#002f58;
    opacity: .73;
}
.search-curso::-ms-input-placeholder {
    font-weight: bold;
    color:#002f58;
    opacity: .73;
}

.btn-search {
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
    background: linear-gradient(-75deg,#014683,#0a619c);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    padding: 16.3px 25px;
    color: #fff!important;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 100%;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color: #FFF;
    border:0px;
    box-shadow: rgb(3 78 146 / 80%) 0px 0px 20px;
    transition: all .5s;
}

.btn-search:hover {
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgb(3 78 146 / 40%);
    color: #fff;
}