::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #355a7f; }


#menu {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 9px 10px;
    z-index: 200;
    transition: all .3s;
}

.mudaCor {
  transition: all .3s;
  background:#355a7f!important;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.60);
}

.background-overlay-gv {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: rgba(0,40,86,0.85);
    position: absolute;
}

@media (min-width: 769px) 
{
    #menu { height: 75px; }

    .nav-link { 
      margin: 0 10px;
      padding-top: 26px!important;
      padding-bottom: 26px!important;
      padding-left: 10px!important; 
      padding-right: 10px!important;
    }
}

@media (max-width: 768px) {
    .bg-base-xs { background:#355a7f; } 
    .nav-link { 
      padding: 15px!important; 
    }
}

.nav-link {
    font-family: 'Open Sans',sans-serif;
    font-size: 13.5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #F5F5F5!important;
    cursor: pointer;
    transition: all .2s;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    border-bottom: 2px solid transparent;
}
.nav-link:hover { text-decoration: none; border-color: rgba(255,255,255,.75); color: #FFF!important; }
.nav-link-after-hover:hover { background: #1e3b57!important; border-color: transparent!important; }
.activeNavLink { background: #1e3b57!important; }

@media (max-width: 768px) { 
  .activeNavLink { margin-top: 10px; }
}


.background-overlay { 
  height: 100vh; 
  width: 100%; 
  background-size: cover; 
  background-color: rgba(0,40,86,0.85); 
  position: absolute; 
}
.background-overlay-about { 
  height: 1100px; 
  width: 100%; 
  background-size: cover; 
  background-color: rgba(0,40,86,0.3); 
  position: absolute; 
}

.btnSaibaMais {
    font-family: "Poppins", Sans-serif;
    border-radius: 3px;
    color: #355a7f!important;
    background-color: white;
    border-color: rgba(145,233,0,0);
    font-weight: 500;
    transition: all .3s;
    fill: #fff;
    text-align: center;
    padding: 12px 24px;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
}
.btnSaibaMais:hover { text-decoration: none; background: #eee; }

.btnCard {
    font-family: "Poppins", Sans-serif;
    border-radius: 3px;
    color: #355a7f!important;
    background-color: #eee;
    border-color: rgba(145,233,0,0);
    font-weight: 500;
    transition: all .3s;
    fill: #fff;
    text-align: center;
    padding: 12px 24px;
    line-height: 1;
    font-weight: 600;
    text-decoration: none; 
}
.btnCard:hover { background: #355a7f; color: #FFF!important; }

.color-star { color: #f0ad4e; }

.btnCall {
   background: #355a7f;
   color: #FFF;
   height: 48px;
   font-size: 15px;
   min-width: 220px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
   transition: box-shadow 0.2s ease 0s;
   padding: 0px 16px;
   font-weight: 700;
   font-family: Roboto, Arial, sans-serif;
   border-radius: 3px;
   display: inline-flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid transparent;
   text-decoration: none;
   transition: all .2s ease-in-out; 
}
.btnCall:hover { background: #10507a; text-decoration: none; color: #FFF!important; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; }

.bg-gv { background: #355a7f!important; } 
.bg-base-secondary { background: hsl(220,95%,8%); } 
.bg-base-3 { background: #010817; } 
.border-base-gv { border-color: #3070b0!important; } 
.color-base { color: #355a7f; } 

.box-info { 
  box-shadow: 0px 10px 15px -10px #022B73; 
  transition: all .2s ease-in-out; 
  border-radius: 10px;
  border: 1px solid rgba(83, 0, 130, .1);
}
.box-info:hover { border: 1px solid rgba(83, 0, 130, .2); transform: scale(1.01); }

.bg-lines { background-image: url('https://funespead.com.br/images/bg-gray.gif'); background-repeat: no-repeat; background-size: cover; }

.color-copyright, .color-copyright:hover { color: #b5cbe8; opacity: 1; }

.bg-lines {
  background-image: url('https://funespead.com.br/images/bg-gray.gif'); background-repeat: no-repeat; background-size: cover;
}

.line-height-22 { line-height: 22px; }

.btnEntrarEmContato {
    fill: #002856;
    color: #FFF;
    background: #355a7f;
    border-radius: 30px 30px 30px 30px;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}
.btnEntrarEmContato:hover { background: #10507a; }
.bg-white-hover:hover { background: #FFF!important; }

.color-base-blue { color: #002856; }
.color-base-blue-hover:hover { color: #002856!important; }

.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#002856;
    opacity: .8;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#002856;
    opacity: .8;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#002856;
    opacity: .8;
}

@media (min-width: 990px) { 
  .width-large { width: 215px; } 
  .width-xl-large { width: 410px; } 
}

.color-submenu { color: #426185;  }

#btnMatriculaOnline {
 width: 100%;
 text-align: center;
 background-image: -webkit-linear-gradient(30deg, rgb(36 109 199 / 90%), rgb(18 107 134 / 83%));       background-image: -o-linear-gradient(30deg, rgb(36 109 199 / 90%), rgb(18 107 134 / 83%));       background-image: linear-gradient(120deg, rgb(36 109 199 / 90%), rgb(18 107 134 / 83%));
 border-radius: 5px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:'Raleway', sans-serif;
 font-size:18px;
 padding:35px 35px;
 text-decoration:none;
 text-shadow:0px -1px 0px #7a2a1d;
 text-transform: uppercase;
 font-weight: 800;
 border-radius: 3px;
 text-shadow: 1.5px 1.5px rgba(0, 0, 0, .20);
 letter-spacing: .2px;
}

#jumbotron { background: hsl(220,95%,8%); }

.cardCursos {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.btnCardMatriculeSe {

}

.boxCardBtnMatriculeSe {
  
}

.color-para-os-pais { color: #a7a6a7; }

#titleMatriculeSeJa { color: #4195e8;text-shadow: 2px 2px rgba(0, 128, 255,.1); }
#sloganMatriculeSeJa { color: #f2f6fa; }

.text-align-justify { text-align: justify; }



#formBtnEnviar {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: linear-gradient(-75deg,#014683,#0a619c);
    border-radius: 30px 30px 30px 30px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;
    transition: all .3s;
}
#formBtnEnviar:hover { color: #FFF!important; text-decoration: none; background: linear-gradient(-75deg,#014683,#0a619c); }