::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #002856; }

.nav-link {
	color: #002856!important;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin-left: 8px;
	margin-right: 8px;
    font-size: 15px;
}
.nav-link:hover { color: #7ec40a!important; text-decoration: none; }

.btnSaibaMais {
    font-family: "Poppins", Sans-serif;
    border-radius: 40px;
    color: #87dd05!important;
    background-color: #002856;
    border-color: rgba(145,233,0,0);
    font-weight: 500;
    transition: all .3s;
    fill: #fff;
    text-align: center;
    padding: 12px 24px;
    line-height: 1;
    text-decoration: none;
}
.btnSaibaMais:hover { text-decoration: none; background: #002156; }

@media (min-width: 769px) { .btnSaibaMais { font-size: 1.3vw; } }
@media (max-width: 768px) { .btnSaibaMais { font-size: 4.5vw; }  }

.btnAreaAluno {
    fill: #ffffff;
    color: #FFF!important;
    background-color: #002856;
    border-radius: 30px 30px 30px 30px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;
    transition: all .3s;
}
.btnAreaAluno:hover { color: #91e900!important; text-decoration: none; }

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,40,86,0.75);
}

.line-height-1-4 { line-height: 1.4; }


@media (max-width: 991px) {
	.mt--xs-400 { margin-top: -400px; } 
}

.titulo {
	color: #002856;
	font-family: "Poppins", Sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.bg-line { background: #87dd05; }

.border-base-blue { border: 7px solid #002856; opacity: .8; }
.bg-base-blue { background: #002856; }
.color-base-blue { color: #002856; }
.color-base-green { color: #87dd05; }
.bg-base-green { background: #87dd05; }

.box-info { box-shadow: 0px 10px 20px -10px #022B73; transition: all .2s ease-in-out; }

.box-info:hover {
 transform: scale(1.01);
}

.rounded-30 { border-radius: 30px; }
.rounded-12 { border-radius: 12px; }

.fs-1rem { font-size: 1rem; }
.fs-1-5rem { font-size: 1.5rem; }
.line-height-1-5 { line-height: 1.5; }


.color-grafite { color: #54595f; }
.color-star { color: #f0ad4e; }

.fs-17-5 { font-size: 17.5px!important; }

@media (min-width: 990px) {
	.h-min-lg-520 { min-height: 520px!important; }
}

.bg-como-funciona { 
	background-attachment: fixed; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-como-funciona-overlay {
	background: #002856;
	opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


.bg-contato { 
	background-attachment: fixed; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-contato-overlay {
	background: #002856;
	opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


.btnEntrarEmContato {
    fill: #002856;
    color: #002856;
    background-color: #91e900;
    border-radius: 30px 30px 30px 30px;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}
.btnEntrarEmContato:hover { background: #97e340; }

.media-icons a { 
	color:#FFF; 
	font-size: 18px;
	text-shadow: 3px 2px rgba(0, 0, 0, .6); 
	display: inline-block;
	text-decoration: none;
}
.media-icons a:hover { text-decoration: none; }

.media-icons a div {
	box-shadow: 3px 2px rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	border:2px solid rgba(255, 255, 255, .1);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 4px;
	margin-right: 4px;
	-webkit-transition: 0.45s ease-in;
	-moz-transition: 0.45s ease-in;
	-o-transition: 0.45s ease-in;
	transition: 0.45s ease-in;
}

.media-icons a div:hover { 
	color:#002856!important; 
	background: #87dd05;
	text-shadow: 1px 1px rgba(0, 0, 0, .6); 
}


.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#002856;
    opacity: .8;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#002856;
    opacity: .8;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#002856;
    opacity: .8;
}


.animation-grow:hover {
    transform: scale(1.1);
}

.color-base-blue-hover:hover { color: #002856!important; }

@media (min-width: 769px) {
	.mt--md-130 { margin-top: -130px; }
}

.cursor-drag { cursor: grab; }

.color-hover-c9:hover { color: #c9c9c9; }

.bg-faixa { background: #c5d7e4d1; }
.color-faixa {color: #708cb3;}

.pb-2-5 { padding-bottom: .8rem!important; }

.btnNavegacao {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
}
.btnNavegacao:hover { text-decoration: none; color: #FFF; }
.btnNavegaAreaAluno { background: #5cb85c; }

.btnNavegaParceiro { background: #3fa2bf; }