::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #63bd37; }

body { overflow-x: hidden; }

.sub-header {
    background: #491775;
    height: 50px;
}

@media(min-width: 769px) {
    #menu { height: 110px; }
    .nav-link {
        padding-left: 18px!important;
        padding-right: 18px!important;
        padding-top: 35px;
        padding-bottom: 25px;  
    }
}

.color-navlink { color: #42495b; }
.nav-link {
    color: #42495b!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.nav-link:hover { color: #491775!important; text-decoration: none; border-color: #491775; }


.btnInscrever {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: #491775;
    border-radius: 3px 3px 3px 3px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;
    transition: all .3s;
}
.btnInscrever:hover { color:#FFF!important; background: #491775; text-decoration: none; }
.animation-grow:hover { transform: scale(1.1); }

.color-sub { color: #c1c2d0; }
.color-green { color: #63bd37; }
.bg-f4 { background: #f4f4f4; }
.bg-line { background: #63bd37; }

.btnEntrarEmContato {
    color: #FFF!important;
    background-color: #63bd37;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    text-decoration: none;
    line-height: 1;
    transition: all .3s;
    border:0px;
    color: #111;
    width: 100%;
    border-radius: 3px;
    display: block;
    margin-top: -20px;
    font-weight: 600;
}
.btnEntrarEmContato:hover { background: #17a37b; }

.box-shadow { box-shadow: 1px 2px 4px rgb(0 0 0 / 27%); }


.form::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.form::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.form::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}

.border-form, .border-form:focus { border-top:1px solid #222!important;border-bottom:1px solid #222!important;border-right: 1px solid #222!important;border-left:0px!important; }
.border-form-modal, .border-form-modal:focus { border:1px solid #555!important; }


.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(11, 66, 99, 0.5);
}


.btnInscricao {
   font-family: "Poppins", Sans-serif;
   font-size: 1em;
   font-weight: 700;
   letter-spacing: .5px;
   color: #FFF!important;
   background-color: #63bd37;
   border-radius: 25px 25px 25px 25px;
   text-decoration: none;
   transition: all .3s;
   padding: 0.8em 5em 0.8em 5em;
}
.btnInscricao:hover { background: #17a37b; color: #FFF!important; text-decoration: none; }

.fig-caption { 
  background: rgba(86, 25, 140, .85);
  height: 125px;
}


.form {
    height: 50px;
    width: 100%;
    display: block;
    background: none;
    border: 2px solid rgba(99,121,133,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;    
}

.form::-webkit-input-placeholder {
    color:#444;
    opacity: .73;
}
.form::-moz-placeholder {
    color:#444;
    opacity: .73;
}
.form::-ms-input-placeholder {
    color:#444;
    opacity: .73;
}



.form-contact:focus {
  outline:none!important; 
  border-color: rgba(255,255,255,0.5)!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.form-contact {
    height: 50px;
    width: 100%;
    display: block;
    background: none;
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;   
    color: #FFF; 
}

.form-contact::-webkit-input-placeholder {
    color:#FFF;
    opacity: .73;
}
.form-contact::-moz-placeholder {
    color:#FFF;
    opacity: .73;
}
.form-contact::-ms-input-placeholder {
    color:#FFF;
    opacity: .73;
}



.bg-faixa { background: #491775!important; }
.color-faixa {color: #e6fff9!important;}
.color-faixa-verde { color: #491775!important; }

.opacity-04 { opacity: .4; }

.uk-dotnav>.uk-active>* { background: #491775!important; }

.border-unidade { border:2px solid rgba(255,255,255, .3); }


.bg-wpp {
    background: #1cad52;
}
.box-shadow-wpp {
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
}


.square-50 { width: 50px; height: 50px; }