::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #bd3131; }

.border-solutions { border: 7px solid #ffc107!important; }
.border-servicos { border: 2px solid #dee2e6!important; }

#menu {
    width: 100%;
    box-sizing: border-box;
    padding: 9px 10px;
    position: fixed;
    z-index: 200;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.60);
    background: transparent;
    transition: background-color 0.3s ease-in-out;
}
.mudaCor {
  background:#dc3545!important;
}

@media (min-width: 769px) 
{
    #menu { height: 75px; }

    .nav-link { 
      margin: 0 10px;
      padding-top: 27.2px!important;
      padding-bottom: 27.2px!important;
      padding-left: 10px!important; 
      padding-right: 10px!important; 
    }
}

@media (max-width: 768px) { 
    .nav-link { 
      padding: 15px!important; 
    }
}

.nav-link {
    font-family: 'Open Sans',sans-serif;
    font-size: 13.5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #F5F5F5!important;
    cursor: pointer;
    transition: all .2s;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
}
.nav-link:hover { text-decoration: none; background: #bd3131; }
.activeNavLink { background: #bd3131!important; }

@media (max-width: 768px) { 
  .activeNavLink { margin-top: 10px; }
}


.background-overlay { 
  height: 100%; 
  width: 100%; 
  background-size: cover; 
  background-color: rgba(71, 6, 6,0.8); 
  position: absolute;
}
.background-overlay-diferenciais { 
  width: 100%; 
  background-size: cover; 
  background-color: rgba(71, 6, 6,0.9); 
  position: absolute;
}

@media (max-width: 768px) { .background-overlay-diferenciais { height: 400%; } }
@media (min-width: 769px) { .background-overlay-diferenciais { height: 200%; } }


.btnSaibaMais {
    font-family: "Poppins", Sans-serif;
    border-radius: 30px;
    color: #021a36!important;
    background-color: #ffc107;
    border-color: rgba(145,233,0,0);
    font-weight: 500;
    transition: all .3s;
    fill: #fff;
    text-align: center;
    padding: 12px 24px;
    line-height: 1;
    font-weight: 600;
    text-decoration: none;
}
.btnSaibaMais:hover { text-decoration: none; background: #e3ad0b; }


.color-jumb-wpp { color: #002856!important; }


.box-info { 
  box-shadow: 0px 10px 15px -10px #022B73; 
  transition: all .2s ease-in-out; 
  border-radius: 10px;
  border: 1px solid rgba(83, 0, 130, .1);
}

.box-info:hover { border: 1px solid rgba(83, 0, 130, .2); }


.bg-lines { background-image: url('../images/bg-gray.gif'); background-repeat: no-repeat; background-size: cover; }


.color-copyright, .color-copyright:hover { color: #7a8594; }


.boxArticle {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.48);
  transition: all .2s ease-in-out;
}
.boxArticle:hover {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.48);
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.48);
  transform: scale(1.01);
}


@media (min-width: 990px) {
  .h-lg-310 { height: 310px!important; }
}


.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}

@media (min-width: 990px) { 
  .width-large { width: 200px; } 
}

.btn-categoria { background: transparent; color: #333; transition: background-color 0.1s ease-in-out; }
.bg-categoria-active, .btn-categoria:hover {
  background: #dc3545!important;
  color: #FFF!important;
}



