body { background: #f6f9fb; overflow-x: hidden; }

.navbar {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: hsla(0,0%,100%,.9)!important;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.nav-link {
	font-family: Inter,sans-serif;
    min-height: 45px;
    border: 2px solid transparent;
    color: #2b3c57!important;
    font-size: .813rem;
    font-weight: 600;
    line-height: 1;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.nav-link:hover {
    text-decoration: none;
    color: #05cfd8!important;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .link-areadoaluno {
        margin-left: 10px;
    }
    .link-matriculese {
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .link-areadoaluno {
        width: 100%;
    }
    .link-matriculese {
        width: 100%;
        margin-top: 15px;
    }
}
.link-areadoaluno {
    border-color: #03a5ab;
    border-radius: 4px;
    color: #03a5ab!important;

}

.link-areadoaluno:hover {
    background-color: #038d93;
    border-color: #038d93;
    box-shadow: 0 4px 18px rgb(3 141 147 / 40%);
    color: #fff!important;
}

.link-matriculese {
    background-color: #fc8f4b;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgb(252 143 75 / 30%);
    color: #fff!important;
}
.link-matriculese:hover {
    background-color: #fd6c3e;
    border-color: #fd6c3e;
    color: #fff!important;
}

.c-banner__title-lead {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Inter,sans-serif;
    color: #fff;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 1.125rem;
    letter-spacing: 8px;
}

.c-banner__title {
    text-align: left;
    user-select: none;
    box-sizing: border-box;
    margin-top: 0;
    font-family: Saira Condensed,sans-serif;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    line-height: .9;
}

@media (min-width: 992px) {
    .c-banner__title { font-size: 6.5rem; }
    .c-banner__title>b {
        border-bottom: 9px solid #fff;
    }
}

@media (max-width: 768px) {
.c-banner__title { font-size: 3.5rem; margin-top: 40px; }
}

.c-banner__title>b {
    display: inline-block;
    border-bottom: 5px solid #fff;
    font-weight: 900;
}


.bg-azul { background: #03a5ab; }
.bg-orange { background: #fc8f4b; }


.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}



.form-contact:focus {
  outline:none!important; 
  border-color: rgba(255,255,255,0.5)!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.form-contact {
    height: 50px;
    width: 100%;
    display: block;
    background: none;
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;   
    color: #FFF; 
}

.form-contact::-webkit-input-placeholder {
    color:#FFF;
    opacity: .73;
}
.form-contact::-moz-placeholder {
    color:#FFF;
    opacity: .73;
}
.form-contact::-ms-input-placeholder {
    color:#FFF;
    opacity: .73;
}


.btnEntrarEmContato {
    color: #FFF!important;
    background-color: #17a37b;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 40px;
    box-shadow: none;
    text-decoration: none;
    line-height: 1;
    transition: all .3s;
    border:0px;
    color: #111;
    width: 100%;
    border-radius: 3px;
    display: block;
    margin-top: -10px;
    font-weight: 600;
}
.btnEntrarEmContato:hover { background: #17a37b; }

.box-shadow { box-shadow: 1px 2px 4px rgb(0 0 0 / 27%); }

.card-header { background: #17a37b; }
.card-body { background:#21314a; }


@media (min-width: 768px){
.quem-somos {
    background-image: url('https://www.cnead.com.br/site/wp-content/themes/cnead/dist/images/bg-special.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    overflow-y: hidden;
}}


.title-lead {
    line-height: 1.5;
    text-align: left;
    font-family: Inter,sans-serif;
    box-sizing: border-box;
    display: inline-block;
    color: #fc8f4b;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 11px;
}


@media (min-width: 992px) {
.m-quem-somos__title {
    text-align: left;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin-bottom: .5rem;
    margin-top: 0;
    text-transform: uppercase!important;
    color: #161632;
    font-weight: 700;
    line-height: 1.05;
    font-size: 4.688rem;
}}

@media (min-width: 992px) {
.m-quem-somos__title>span {
    font-weight: 900;
}}
.title>span { color: #03a5ab; }


@media (min-width: 992px) {
.m-quem-somos__content {
    margin-bottom: 45px;
    border-left: 5px solid #fc8f4b;
    margin-left: 20px;
    padding-left: 30px;
}}

.m-quem-somos__content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #192a44;
    font-family: Inter,sans-serif;
    box-sizing: border-box;
    margin-bottom: 45px;
    border-left: 5px solid #fc8f4b;
    margin-left: 20px;
    padding-left: 30px;
}


.btn-primary, .button-primary {
    min-width: 215px;
    height: 52px!important;
    padding: 7px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: .813rem;
    font-weight: 700;
    background: #03a5ab;
    border-color: #03a5ab;
    box-shadow: 0 5px 20px rgb(3 165 171 / 35%);
    color: #fff;
    line-height: 1;
}

.btn-orange {
    min-width: 215px;
    height: 52px!important;
    padding: 7px 15px;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 5px 20px rgb(3 165 171 / 35%);
    background: rgba(250, 135, 62, .2);
    border-color: #fc8f4b;
    box-shadow: 0 5px 27px rgb(252 143 75 / 50%);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5px;
}

.btn-orange:hover { background: rgba(250, 135, 62, .9)!important; color:#FFF!important; }

.btn-primary:hover {
    background: #fc8f4b;
    border-color: #fc8f4b;
    box-shadow: 0 5px 27px rgb(252 143 75 / 50%);
    color: #fff;
    transform: scale(.98);
}


@media (min-width: 992px) {
.title--small {
    font-size: 3.125rem;
}}

.title {
    color: #161632;
    font-weight: 700;
    line-height: 1.05;
    font-size: 2.913rem;
}


.m-vantagens {
    background-image: url('https://www.cnead.com.br/site/wp-content/themes/cnead/dist/images/bg-section-dots.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.m-vantagens-item { height: 250px; }

.m-vantagens-item:hover {
    box-shadow: 0 5px 35px rgb(143 175 197 / 40%)!important;
    -webkit-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.vantangens-span { font-family: 'Inter', sans-serif; font-weight: 600; color: #2b3c57; }


.c-chamada__title {
    line-height: .95;
}


@media (min-width: 992px) {
.title--big {
    font-size: 4.063rem;
}}


@media (min-width: 576px) {
.c-chamada__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}}

.btn-white {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: .813rem;
    font-weight: 700;
    background: #fff;
    border-color: #fff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 35%);
    color: #fd6c3e;
    line-height: 1;
}
.btn-outline-white {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: .813rem;
    font-weight: 700;
    background: 0 0;
    border-color: #fff;
    color: #fff;
    line-height: 1;
}


.btn-white:hover, .btn-white:not(:disabled):not(.disabled).active, .btn-white:not(:disabled):not(.disabled):active {
    background: #038d93;
    border-color: #038d93;
    box-shadow: 0 5px 27px rgb(0 0 0 / 50%);
    color: #fff;
    transform: scale(.98);
}

.btn-outline-white:hover, .btn-outline-white:not(:disabled):not(.disabled).active, .btn-outline-white:not(:disabled):not(.disabled):active {
    background: #038d93;
    border-color: #038d93;
    box-shadow: 0 5px 27px rgb(0 0 0 / 50%);
    color: #fff;
    transform: scale(.98);
}

@media (min-width: 992px) {
.btn-banner, .btn-outline-white, .btn-primary, .btn-white, .button-primary {
    min-width: 215px;
    height: 52px;
}}


.m-como-funciona__title { line-height: .95; }

@media (min-width: 992px) {
.title {
    font-size: 3.75rem;
}}



.m-como-funciona__content>p:last-child {
    margin-bottom: 0;
}
@media (min-width: 1200px) {
.m-como-funciona__content>p {
    padding-right: 40px;
}}
.m-como-funciona__content>p {
    color: rgba(0,0,0,.7);
    font-size: .875rem;
    line-height: 1.8;
}



.c-chamada-faq {
    padding: 85px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.c-chamada-faq__title {
    color: #fc8f4b;
    font-weight: 600;
}


footer { overflow-x: hidden; }
.footer {
    padding: 60px 0 0;
    background: #080f20;
    color: hsla(0,0%,100%,.8);
    font-size: .75rem;
    font-weight: 300;
    line-height: 1.6;
}
.footer__title {
    margin-bottom: 15px;
    color: #fff;
    font-family: Inter,sans-serif;
    font-size: .813rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.address__icon {
    color: #05cfd8;
    font-size: 120%;
}

.address__phone {
    font-size: .938rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: hsla(0,0%,100%,.8);
}

.address__phone:hover { color: #fc8f4b; }

.footer__item {
    margin-bottom: 50px;
}

.address {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 3px 0;
}



.footer__copyright {
    padding: 18px 0;
    border-top: 1px solid rgba(246,249,251,.07);
}

.nav-neutro {
    margin: 0;
    padding: 0;
}
.nav-social__item:first-child {
    width: 100%;
    display: inline-block;
}
.nav-neutro--inline .nav-neutro__item {
    display: inline-block;
}

.nav-social__item {
    margin-right: 25px;
}
.nav-neutro__item {
    margin-bottom: 10px;
    list-style: none;
}
.nav-social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    height: auto;
    color: #05cfd8;
    font-size: 1.525rem;
    text-align: center;
    line-height: 1;
}

.link--white {
    color: #fff;
}
.link--white:hover {
    color: #6bc7cc;
}


@media (min-width: 768px) {
.footer__copyright--by {
    text-align: right;
}}


.nav-social__link:hover {
    color: #fc8f4b;
    text-decoration: none;
}



.bg-wpp {
    background: #1cad52;
}
.box-shadow-wpp {
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
}


.color-title { color: #161632; }

.h-250 { height: 250px; }



.btnCall {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(270deg, rgba(23, 163, 123,.9) 0%, rgba(23, 163, 123,.9) 90%);
    border-radius: 30px;
    color: #ffffff;
    border: 0;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer !important;
    box-shadow: 0 0 15px 6px rgba(237, 65, 7,.4);
    transition: all 300ms ease-in-out;
    display: block;
    height: 60px;
    padding: 20px 25px;
}

@media (min-width: 992px) {
    .btnCall { width: 425px; }
}

@media (max-width: 768px) {
    .btnCall { width: 100%; }
}

.btnCall:hover {
    text-decoration: none;
    box-shadow: 0 0 25px 10px rgb(221 22 68 / 40%);
    background: linear-gradient(270deg, rgba(23, 163, 123, 1) 0%, rgba(23, 163, 123, 1) 90%);
    color: #fff;
}


.pulse-button {
    -webkit-animation: pulse 1.5s infinite;
}

.wpp-pulse-button {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 85px;
    height: 85px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
    -webkit-animation: pulse 1.5s infinite;

    position: relative;
    margin: auto; 
    border: double 7px transparent;
    border-radius: 50%;
    background: #1cad52;
    border:5px solid rgba(0,0,0,.1);

}

.wpp-pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
