@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body { background: #f6f9fb!important; overflow-x: hidden; }

.navbar {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: hsla(0,0%,100%,.9)!important;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.nav-link {
	font-family: Inter,sans-serif;
    min-height: 45px;
    border: 2px solid transparent;
    color: #2b3c57!important;
    font-size: .813rem;
    font-weight: 600;
    line-height: 1;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.nav-link:hover {
    text-decoration: none;
    color: #05cfd8!important;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .link-areadoaluno {
        margin-left: 10px;
    }
    .link-matriculese {
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .link-areadoaluno {
        width: 100%;
    }
    .link-matriculese {
        width: 100%;
        margin-top: 15px;
    }
}
.link-areadoaluno {
    border-color: #03a5ab;
    border-radius: 4px;
    color: #03a5ab!important;

}

.link-areadoaluno:hover {
    background-color: #038d93;
    border-color: #038d93;
    box-shadow: 0 4px 18px rgb(3 141 147 / 40%);
    color: #fff!important;
}

.link-matriculese {
    background-color: #fc8f4b;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgb(252 143 75 / 30%);
    color: #fff!important;
}
.link-matriculese:hover {
    background-color: #fd6c3e;
    border-color: #fd6c3e;
    color: #fff!important;
}


.c-banner__title-lead {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Inter,sans-serif;
    color: #fff;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 1.125rem;
    letter-spacing: 8px;
}

.c-banner__title {
    text-align: left;
    user-select: none;
    box-sizing: border-box;
    margin-top: 0;
    font-family: Saira Condensed,sans-serif;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    line-height: .9;
}

@media (min-width: 992px) {
    .c-banner__title { font-size: 6.5rem; }
    .c-banner__title>b {
        border-bottom: 9px solid #fff;
    }
}

@media (max-width: 768px) {
.c-banner__title { font-size: 3.5rem; margin-top: 40px; }
}

.c-banner__title>b {
    display: inline-block;
    border-bottom: 5px solid #fff;
    font-weight: 900;
}



.btnCall {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(270deg, rgba(23, 163, 123,.9) 0%, rgba(23, 163, 123,.9) 90%);
    border-radius: 30px;
    color: #ffffff;
    border: 0;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer !important;
    box-shadow: 0 0 15px 6px rgba(237, 65, 7,.4);
    transition: all 300ms ease-in-out;
    display: block;
    height: 60px;
    padding: 20px 25px;
}

@media (min-width: 992px) {
    .btnCall { width: 425px; }
}

@media (max-width: 768px) {
    .btnCall { width: 100%; }
}

.btnCall:hover {
    text-decoration: none;
    box-shadow: 0 0 25px 10px rgb(221 22 68 / 40%);
    background: linear-gradient(270deg, rgba(23, 163, 123, 1) 0%, rgba(23, 163, 123, 1) 90%);
    color: #fff;
}


.pulse-button {
    -webkit-animation: pulse 1.5s infinite;
}

.notification-success {

    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
    background: rgba(28, 173, 82, .85);

}

.wpp-pulse-button {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 85px;
    height: 85px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px;
    -webkit-animation: pulse 1.5s infinite;

    position: relative;
    margin: auto; 
    border: double 7px transparent;
    border-radius: 50%;
    background: #1cad52;
    border:5px solid rgba(0,0,0,.1);

}

.wpp-pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}


.c-form-banner {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(123,165,88,.3);
}
@media (min-width: 768px)
{
    .c-form-banner {
        margin-top: 0;
        outline: 2px solid #e6c237;
        outline-offset: 0.3rem;
    }
}

.c-form-banner__header {
    padding: 8px 15px;
    background-color: #e6c237;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #161632;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}

@media (min-width: 992px)
{
    .c-form-banner__header {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}



.btn-custom {
    background: #23C861;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    transition: all .6s ease;
}

.btn-custom:hover {
    background: #0dd457;
}


.color-ok { color: #192a44; }




@media (min-width: 768px)
{
    .m-quem-somos {
        background: url('/images/utils/bg-shadow-blue.webp') no-repeat 50%;
        background-size: cover;
    }
}


@media (min-width: 992px)
{
    .title-lead {
        letter-spacing: 5px;
        margin-bottom: 11px;
    }
}
.title-lead {
    font-family: Inter,sans-serif;
    display: inline-block;
    margin-bottom: 8px;
    color: #161632;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bg-roxo-escuro { background: #161632; }
.bg-info-c { background: #00b4e7; }

@media (min-width: 992px)
{
    .m-quem-somos__title {
        font-size: 4.688rem;
    }
}
@media (min-width: 992px)
{
    .title {
        font-size: 3.75rem;
    }
}
.title {
    color: #161632;
    font-size: 2.913rem;
    font-weight: 700;
    line-height: 1.05;
}


@media (min-width: 992px)
{   

    .m-quem-somos__title {
        font-weight: 900;
        font-size: 4.688rem;
    }
}
.title>span {
    color: #00b4e7;
}

.color-orange { color: #fd6c3e; }


h1, h2, h3 {
    font-family: Saira Condensed,sans-serif;
}


@media (min-width: 992px)
{
    .m-quem-somos__content {
        margin-bottom: 45px;
        border-left: 5px solid #7ba558;
        margin-left: 20px;
        padding-left: 30px;
    }
}
.m-quem-somos__content {
    margin-bottom: 30px;
    border-left: 3px solid #7ba558;
    padding-left: 20px;
}


.btn-quero-me-matricular {
    padding: .5rem 1rem;
    text-decoration: none;
    font-family: Inter,sans-serif;
    border: 2px solid transparent;
    font-size: .813rem;
    font-weight: 600;
    line-height: 1;
    transition: all .3s ease;
    background-color: #fd6c3e;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgb(252 143 75 / 30%);
    color: #fff!important;
    padding-right: 0;
    padding-left: 0;
}

.btn-quero-me-matricular:hover { background-color: #fc8f4b; color: #FFF!important; }

.btn-quem-somos {
    background: #e6c237;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: .813rem;
    font-weight: 700;
}


@media (min-width: 1200px)
{
    .m-quem-somos__models {
        right: -150px;
        width: auto;
    }
}
@media (min-width: 992px)
{
    .m-quem-somos__models {
        bottom: -95px;
        right: -130px;
        width: 600px;
    }
}

@media (min-width: 768px)
{
    .m-quem-somos__models {
        position: absolute;
        bottom: -85px;
        right: -90px;
        width: 370px;
        pointer-events: none;
    }
}


@media (min-width: 1200px)
{
.m-quem-somos__tag {
    bottom: -156px;
    right: -45px;
    width: auto;
}
}

@media (min-width: 992px)
{
.m-quem-somos__tag {
    position: absolute;
    bottom: -130px;
    right: 0;
    z-index: 2;
    width: 570px;
    opacity: .12;
    pointer-events: none;
}}


@media (min-width: 992px){
.m-quem-somos__tag {
    position: absolute;
    bottom: -130px;
    right: 0;
    z-index: 2;
    width: 570px;
    opacity: .12;
    pointer-events: none;
}}


@media (min-width: 992px)
{
    .title--big {
        font-size: 4.063rem;
    }
}


.c-chamada__title {
    line-height: .95;
}


.btn-white {
    font-family: Inter,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: all .3s ease;
    padding: 7px 15px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: 700;
    background: #fff;
    border-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.35);
    color: #7ba558;
    line-height: 1;
    min-width: 215px;
    height: 52px;
    font-size: .913rem;
    margin-bottom: 0;
    margin-right: 30px;
}

.btn-white:hover {
    background: #7ba558;
    border-color: #7ba558;
    box-shadow: 0 5px 27px rgba(0,0,0,.5);
    color: #fff;
}

#btn-outline-white-a
{
    font-family: Inter,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: all .3s ease;
    padding: 7px 15px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: .813rem;
    font-weight: 700;
    background: transparent;
    border-color: #fff;
    color: #fff;
    line-height: 1;
    min-width: 215px;
    height: 52px;
}

#btn-outline-white-a:hover { background-color: #7ba558; box-shadow: 0 5px 27px rgba(0,0,0,.5); border-color: #7ba558; }

.btn-duvidas {
    font-family: Inter,sans-serif;
    transition: all .3s ease;
    font-size: .813rem;
    font-weight: 700;
    background: #7ba558;
    color: #fff;
    line-height: 1;
    border-radius: 3px;
}
.btn-duvidas:hover { background: #86b55e; color: #FFF!important; }

.carousel-indicators button { background-color: #b0b0b0!important; }
.carousel-indicators button.active {
    background-color: #03a5ab!important;
}



.carousel-indicators button { opacity:1 !important;color:red;}



.c-motivos-para-terminar-col>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.icon-motivo {
    width: 50px;
    height: 50px;
    color: #FFF!important;
    border-radius: 50%;
    display: block;
}

.motivo-success { background: #039e45; }
.motivo-danger { background: #e7051b; }

.text-amarelo { color: #e6c237; }



footer { overflow-x: hidden; }
.footer {
    padding: 60px 0 0;
    background: #080f20;
    color: hsla(0,0%,100%,.8);
    font-size: .75rem;
    font-weight: 300;
    line-height: 1.6;
}
.footer__title {
    margin-bottom: 15px;
    color: #fff;
    font-family: Inter,sans-serif;
    font-size: .813rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.address__icon {
    color: #fc8f4b;
    font-size: 120%;
}

.address__phone {
    font-size: .938rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: hsla(0,0%,100%,.8);
}

.address__phone:hover { color: #05cfd8; }

.footer__item {
    margin-bottom: 50px;
}

.address {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 3px 0;
}



.footer__copyright {
    padding: 18px 0;
    border-top: 1px solid rgba(246,249,251,.07);
}

.nav-neutro {
    margin: 0;
    padding: 0;
}
.nav-social__item:first-child {
    width: 100%;
    display: inline-block;
}
.nav-neutro--inline .nav-neutro__item {
    display: inline-block;
}

.nav-social__item {
    margin-right: 25px;
}
.nav-neutro__item {
    margin-bottom: 10px;
    list-style: none;
}
.nav-social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    height: auto;
    color: #fc8f4b;
    font-size: 1.525rem;
    text-align: center;
    line-height: 1;
}

.link--white {
    color: #fff;
}
.link--white:hover {
    color: #6bc7cc;
}


@media (min-width: 768px) {
.footer__copyright--by {
    text-align: right;
}}


.nav-social__link:hover {
    color: #05cfd8;
    text-decoration: none;
}



.btn-primary, .button-primary {
    min-width: 215px;
    height: 52px!important;
    padding: 7px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    border: 2px solid #00b4e7;
    border-radius: 4px;
    font-size: .813rem;
    font-weight: 700;
    background: #00b4e7;
    box-shadow: 0 5px 20px rgb(3 165 171 / 35%);
    color: #fff;
    line-height: 1;
}

.btn-orange {
    min-width: 215px;
    height: 52px!important;
    padding: 7px 15px;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 5px 20px rgb(3 165 171 / 35%);
    background: rgba(250, 135, 62, .2);
    border-color: #fc8f4b;
    box-shadow: 0 5px 27px rgb(252 143 75 / 50%);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5px;
}

.btn-orange:hover { background: rgba(250, 135, 62, .9)!important; color:#FFF!important; }

.btn-primary:hover {
    background: #fc8f4b;
    border-color: #fc8f4b;
    box-shadow: 0 5px 27px rgb(252 143 75 / 50%);
    color: #fff;
    transform: scale(.98);
}


.color-verde-maduro {
     color: #7ba558;
}



.m-vantagens {
    background-image: url('https://www.cnead.com.br/site/wp-content/themes/cnead/dist/images/bg-section-dots.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.m-vantagens-item { height: 250px; }

.m-vantagens-item:hover {
    box-shadow: 0 5px 35px rgb(143 175 197 / 40%)!important;
    -webkit-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.vantangens-span { font-family: 'Inter', sans-serif; font-weight: 600; color: #2b3c57; }



@media (min-width: 990px) { 
  .contact-methods-container { padding-right: 155px; } 
  .w-lg-125px { width: 125px; }
  .h-lg-125px { height: 125px; }
    .mb-lg-8 {
        margin-bottom: 6rem!important;
    }
  #top { padding-top: 25px; }  
}


.bg-btn-contato { background: #729c4f; transition: all .3s ease; }
.bg-btn-contato:hover, .header-icons a div:hover { background: #567a37; }


.lead-form { color: #555!important; font-weight: 600; }
.lead-form:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
}

.lead-form::-webkit-input-placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#555;
    opacity: .9;
}
.lead-form::-moz-placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#555;
    opacity: .9;
}
.lead-form::-ms-input-placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color:#555;
    opacity: .9;
}


.btn-categoria { background: transparent; color: #333; transition: background-color 0.1s ease-in-out; }
.bg-categoria-active, .btn-categoria:hover {
  background: #00b4e7!important;
  color: #FFF!important;
}




@media (min-width: 990px) { 
    .h-lg-80 { height: 80px; }
}



.bg-fundo-faca-sua-inscricao { background: #062d5c!important; }

.bg-investimento { background: #36be5b; }
.bg-promo { background: #1a983c; }
.color-promo { color: #fce483; }

.bg-forma-pg { background: #36be5b; }
.color-forma-pg { color: #36be5b!important; }
.border-forma-pg { border:2px solid #36be5b; }


.btnCursoInscreverSe {
   color: #002f58;
   background: linear-gradient(180deg,#ffe47d,#e1ba24);
   font-size: 20px;
   min-width: 220px;
   transition: box-shadow 0.2s ease 0s;
   padding: 10px 25px;
   font-weight: 800;
   font-family: 'Inter', sans-serif;
   border-radius: 50px;
   display: inline-flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid transparent;
   text-decoration: none;
   transition: all .5s;
}

.btnCursoInscreverSe:hover { color: #002f58; }

.box-shadow-warning { box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px; }

.animation-grow:hover { transform: scale(1.1); }