@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.font-roboto-condensed  { font-family: 'Roboto Condensed', sans-serif; }

::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 8px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #abce31; }

.sub-header {
    background: #0e9549;
    color: #fff !important;
    border-bottom: solid 4px #abce31;
    height: 50px;
}

.btn-submenu {
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	padding-top: 13.2px;
    padding-bottom: 13.2px;
    padding-left: 13px;
    padding-right: 13px;
}
.btn-submenu:hover { text-decoration: none; background-color: rgba(255, 255, 255, 0.1); color: #FFF; }

.btnPortalAluno {
	padding: 7px 10px!important;
    border: 1px solid #fff;
    background: linear-gradient(to right, rgba(101, 163, 34, 1) 0%, rgba(14, 149, 73, 1) 100%) !important;
    margin-left: 15px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
}
.btnPortalAluno:hover { background-color: rgba(255, 255, 255, 0.1); }

.nav-link {
	border: 1px solid #FFF;
	color: #006323;
	line-height: 25px;
	padding: 10px 15px!important;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;
}

@media (min-width: 992px) {
.nav-link {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}}

.nav-link:hover {
	color: #0c7e3e;
    border: 1px solid #0c7e3e;
    background: transparent;
    text-decoration: none;
}


.btnAreaAluno {
    border:0px!important;
    fill: #ffffff;
    color: #FFF!important;
    background: linear-gradient(to right, rgba(101, 163, 34, 1) 0%, rgba(14, 149, 73, 1) 100%) !important;
    border-radius: 30px 30px 30px 30px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px;
    transition: all .3s;
}
.btnAreaAluno:hover { color: #FFF!important; text-decoration: none; background: #d42f3e; }
.animation-grow:hover { transform: scale(1.1); }

.bg-f4 { background: #f4f4f4; }

.bg-verde-gradient { background: linear-gradient(to right, rgba(101,163,34,1) 0%, rgba(14,149,73,1) 100%) !important; }
.color-verde { color: #0e9549; }

.btnAreas:hover { text-decoration: none; }

.btn-sell-matriculas-desconto {
 background: rgba(255, 255, 255, 1);
 display:inline-block;
 color: #0e9549;
 font-family:'Nunito', sans-serif;
 font-size:18px;
 padding:14px 35px;
 text-decoration:none;
 text-transform: uppercase;
 font-weight: 900!important;
 border-radius: 3px;
 box-shadow: 1px 2px 4px rgb(0 0 0 / 70%);
}

.btn-sell-matriculas-desconto:hover { color: #006323; text-decoration: none; }


.placeholder-edit::-webkit-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-moz-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}
.placeholder-edit::-ms-input-placeholder {
    font-weight: bold;
    color:#111;
    opacity: .73;
}

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(16 13 3 / 75%);
}

.line-v { width: 5px; height: 150px; background: rgba(0,0,0,.15); }

.btnCategoria:hover, .btnHovered {
    background: #0e9549;
    color: #f5ffeb;
}
.bg-base-soft { background: #0e9549; }

.btnAreasCursos {
    padding: 12px 10px;
    border: 2px solid #FFF;
    border-radius: 2px;
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 80px #000;
    text-transform: uppercase;
    background: #53b037; 
}

.btnAreasCursos:hover { color: #FFF; background: #57bf37; text-decoration: none; }

.border-top-gradient { background: linear-gradient(to right, rgb(144,199,47) 0%, rgb(163,204,48) 25%, rgb(201,213,51) 75%, rgb(220,218,52) 100%) !important; }


.mt--80 { margin-top: -80px; }


.color-suave { color: #78909C; }
.color-suave-fort { color: #6b808a; }

.lead-form {
    border-color: #0e9549!important;
    color: #387035!important;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
}

.lead-form:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #67b168;
}

.lead-form::-webkit-input-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}
.lead-form::-moz-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}
.lead-form::-ms-input-placeholder {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}

.sec-lead-form, .sec-lead-form option {
    font-weight: bold;
    color:#2b542c;
    opacity: .73;
}

.btnEntrarEmContato {
    color: #FFF;
    width: 100%;
    border:0px; 
    background: linear-gradient(to right, rgba(101, 163, 34, 1) 0%, rgba(14, 149, 73, 1) 100%) !important;
    border-radius: 5px;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
}
.btnEntrarEmContato:hover { background: #ce1b33; }

.bg-line { background: #63bd37; }

.bg-wpp { background: #1cad52; }
.box-shadow-wpp { box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px; }

.social-icon { background: rgba(120, 144, 156, .1); }

.fig-caption { 
  background: #15b059!important;
  height: 125px;
}

.uk-dotnav>.uk-active>* { background: #15b059!important; }




.bg-img-banner {
    background-size: cover;
    background-position: center; 
    width: 100%;
    background-repeat: no-repeat;
    min-height: 400px;
}

@media (max-width: 768px)
{
    .bg-img-banner {
        background-size: cover;
        background-position: center; 
        width: 100%;
        background-repeat: no-repeat;
        min-height: 185px;    
    }

    #banners { clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%); }
}




.btnCursoInscreverSe {
   color: #002f58;
   background: linear-gradient(180deg,#ffe47d,#e1ba24);
   font-size: 20px;
   min-width: 220px;
   transition: box-shadow 0.2s ease 0s;
   padding: 10px 25px;
   font-weight: 800;
   font-family: 'Inter', sans-serif;
   border-radius: 50px;
   display: inline-flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid transparent;
   text-decoration: none;
   transition: all .5s;
}

.btnCursoInscreverSe:hover { color: #002f58; }

.box-shadow-warning { box-shadow: rgb(26 195 146 / 80%) 0px 0px 20px; }

.bg-fundo-faca-sua-inscricao { background: #062d5c!important; }

.bg-investimento { background: #36be5b; }
.bg-promo { background: #1a983c; }
.color-promo { color: #fce483; }

.bg-forma-pg { background: #36be5b; }
.color-forma-pg { color: #36be5b!important; }
.border-forma-pg { border:2px solid #36be5b; }


.filtro-select {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #222;
    color: #002f58!important;
    font-weight: 500;
    border-radius: 3px;    
}

.filtro-search-curso {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #222;
    color: #002f58!important;
    font-weight: 500;
}

.filtro-search-curso:focus { outline-width: 0; }

.filtro-search-curso::-webkit-input-placeholder {
    font-weight: 600;
    color:#002f58;
    opacity: .73;
}
.filtro-search-curso::-moz-placeholder {
    font-weight: 600;
    color:#002f58;
    opacity: .73;
}
.filtro-search-curso::-ms-input-placeholder {
    font-weight: 600;
    color:#002f58;
    opacity: .73;
}



      .border-th { border-color: #e3e3e3!important; }
      .btn-info { padding:10px 20px; font-size: 17px; border: 3px solid #333; background: transparent; border-radius: 5px; font-family: 'Poppins', sans-serif; font-weight: 600; transition: all .1s ease-in-out; }
      .btn-info:hover, .btn-info:focus, .btn-info:active { background: #FFF; border: 3px solid #333!important; color: #222; }


      .btn-azul {
    color: #FFF;
    background: #0c52a8;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s; 
}

.btn-azul:hover { background:#062d5c; color: #FFF!important; }